 @model AdminX.ViewModels.DictatedLetterVM

@{
    ViewData["Title"] = "Admin-X - Dictated Letters";
}


<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 col-xl-2">

            <div class="card mb-5" style="height: 96.5% !important;
">
                <div class="card-header">
                    <h5 class="card-title text-dark mb-0">Dictated Letters Overview</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#Clinicians" role="tab" aria-selected="true">
                        Dictated Letters for Clinicians
                    </a>
                    <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#Secretaries" role="tab" aria-selected="false" tabindex="-1">
                        Dictated Letters for Secretaries
                    </a>
                               
                </div>
            </div>
        </div>

        <div class="col-md-9 col-xl-10">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Clinicians" role="tabpanel">

                    <div class="card">
                        <div class="card-header">

                            <h5 class="card-title text-dark mb-0">Dictated Letters for Clinicians</h5>
                        </div>
                        <div class="card-body">
                            @if (Model.dictatedlettersReportClinicians.Count() > 0)
                            {
                                <table class="table defaultTable table-hover  table-bordered ">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>Clinician Name</th>
                                            <th>Drafts</th>
                                            <th>Oldest Draft</th>
                                            <th>For Approval</th>
                                            <th>Oldest For Approval</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.dictatedlettersReportClinicians)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.DraftCount</td>
                                                @if (item.OldestDraft != null)
                                                {
                                                    <td>@item.OldestDraft</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                                <td>@item.ForApprovalCount</td>
                                                @if (item.OldestForApproval != null)
                                                {
                                                    <td>@item.OldestForApproval</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="Secretaries" role="tabpanel">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Dictated Letters for Secretaries</h5>

                            @if (Model.dictatedLettersSecTeamReports.Count() > 0)
                            {
                                <h3>Dictated Letters for Secretaries</h3>
                                <table class="table table-hover  table-bordered  defaultTable">
                                    <thead>
                                        <tr class="table-dark">
                                            <th>Clinician Name</th>
                                            <th>Secretarial Team</th>
                                            <th>Drafts</th>
                                            <th>Oldest Draft</th>
                                            @*<th>For Approval</th>
                                             <th>Oldest For Approval</th>*@
                                            <th>For Corrections</th>
                                            <th>Oldest For Corrections</th>
                                            <th>For Printing</th>
                                            <th>Oldest For Printing</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.dictatedLettersSecTeamReports)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.SecretarialTeam</td>
                                                <td>@item.DraftCount</td>
                                                @if (item.OldestDraft != null)
                                                {
                                                    <td>@item.OldestDraft</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                                @*
                                                <td>@item.ForApprovalCount</td>
                                                @if (item.OldestForApproval != null)
                                                {
                                                    <td>@item.OldestForApproval</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }*@
                                                <td>@item.ForCorrections</td>
                                                @if (item.OldestForCorrections != null)
                                                {
                                                    <td>@item.OldestForCorrections</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                                <td>@item.ForPrintingCount</td>
                                                @if (item.OldestForPrinting != null)
                                                {
                                                    <td>@item.OldestForPrinting</td>
                                                }
                                                else
                                                {
                                                    <td>N/A</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <form asp-action="Index">

                    <div class="row g-2 mb-5 mt-2">
                        <div class="col-md-2">
                            <label class="form-label">Select Clinician:</label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select" name="staffCode">
                                <option value="" selected></option>
                                @foreach (var item in Model.clinicalStaff)
                                {
                                    <option value=@item.STAFF_CODE>@item.NAME</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-outline-primary">Select</button>
                        </div>
                    </div>

                </form>
                <form asp-action="DictatedLettersForPatient">
                    <div class="row g-2 mb-5 mt-2">
                        <div class="col-md-2">
                            <label>Enter CGU Number (including point number) to search by patient:</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" name="cguNo" />
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        @if (Model.dictatedLettersForPrinting.Count() == 0)
        {
            <div class="card-body">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>There are no letters awaiting printing</h3>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card-header">
                <div class="card-title">
                    <h3 class="text-dark">Letters awaiting printing</h3>
                </div>
            </div>

            <div class="card-body">
                <table class="table defaultTable table-responsive table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>CGU No</th>
                            <th>Patient</th>
                            <th>Letter To</th>
                            <th>@Html.DisplayNameFor(model => model.dictatedLetters.DateDictated)</th>
                            <th>Status</th>
                            <th>Approved Date</th>
                            <th>Days since Approved</th>
                            <th>Consultant</th>
                            <th>Enclosure</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.dictatedLettersForPrinting)
                        {
                            @if (item.Status == "For Printing")
                            {
                                <tr>
                                    <td><a asp-controller="DictatedLetter" asp-action="Edit" asp-route-id=@item.DoTID class="btn btn-outline-primary">@item.CGU_No</a></td>
                                    <td>@item.Patient</td>
                                    <td>@item.LetterTo</td>
                                    @if (@item.DateDictated.HasValue)
                                    {
                                        <td data-sort="@item.DateDictated.Value.ToString("yyyy-MM-dd")">@item.DateDictated.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@item.Status</td>
                                    @if (item.ApprovedDate.HasValue)
                                    {
                                        <td data-sort="@item.ApprovedDate.Value.ToString("yyyy-MM-dd")">@item.ApprovedDate.Value.ToString("dd/MM/yyyy")</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @(item.ApprovedDate.HasValue ? (DateTime.Now - item.ApprovedDate.Value).Days : 0) days ago
                                    </td>
                                    <td>@item.Consultant</td>
                                    @if (item.Enclosures != "")
                                    {
                                        <td>@item.Enclosures</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>@item.Comments</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <div class="card">
            <div class="card-body">
                @if (Model.dictatedLettersForApproval.Count() == 0)
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="alert-icon">
                            <i class="far fa-fw fa-bell"></i>
                        </div>
                        <div class="alert-message">
                            <h3>There are no letters outstanding</h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="text-dark">Letters to be approved</h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-responsive table-hover table-bordered defaultTable">
                            <thead class="table-dark">
                                <tr>
                                    <th>CGU No</th>
                                    <th>Patient</th>
                                    <th>Letter To</th>
                                    <th>@Html.DisplayNameFor(model => model.dictatedLetters.DateDictated)</th>
                                    <th>Status</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.dictatedLettersForApproval)
                                {
                                    @if (item.Status != "For Printing")
                                    {
                                        <tr>
                                            <td><a asp-controller="DictatedLetter" asp-action="Edit" asp-route-id=@item.DoTID class="btn btn-outline-primary">@item.CGU_No</a></td>
                                            <td>@item.Patient</td>
                                            <td>@item.LetterTo</td>
                                            @if (@item.DateDictated.HasValue)
                                            {
                                                <td>@item.DateDictated.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>@item.Status</td>
                                            <td>@item.Comments</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
</div>
