@model AdminX.ViewModels.TestDiseaseVM

@{
    ViewData["Title"] = "Admin-X - Tests";
}

<div class="container card">
    <div class="mb-5 mt-2 g-2">
        @*<button type="button" value="Back" id="btnBack" class="btn btn-default btn-success">Back</button>*@        
        <div col-md-2>
            <a type="button" class="btn btn-default btn-success" asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>Back to patient</a>
        </div>
    </div>


    @if (Model.tests.Count() >= 1)
    {
        <h1 class="text-center">Tests for <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.patient.MPI>@Model.patient.FIRSTNAME @Model.patient.LASTNAME - @Model.patient.CGU_No</a></h1>

        <div class="d-grid">
            <table class="table">
                <thead>
                    <tr>                        
                        <th>Test</th>
                        <th>Ordered by</th>                        
                        <th>@Html.DisplayNameFor(model => model.test.DATE_REQUESTED)</th>
                        <th>@Html.DisplayNameFor(model => model.test.ExpectedDate)</th>     
                        <th>Comments</th>
                        <th>Complete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.tests)
                    {
                        <tr>                            
                            <td>@item.TEST</td>
                            <td>@item.NAME</td>                           
                            @if (@item.DATE_RECEIVED.HasValue)
                            {
                                <td>@item.DATE_REQUESTED.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                            @if (@item.ExpectedDate.HasValue)
                            {
                                <td>@item.ExpectedDate.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>Unknown</td>
                            }
                            <td>@item.COMMENTS</td>
                            <td>@item.COMPLETE</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
        else
    {   
        <h1 class="text-center">There are no tests recorded for this patient.</h1>    
    }

    

<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    window.addEventListener("load", LoadPage);

    function LoadPage() 
    {        

        document.getElementById("metadata").hidden = true;
    }

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }



</script>