@model AdminX.ViewModels.DiaryVM
@{
    ViewData["Title"] = "Admin-X - Diary Details";
    ViewData["Page"] = "/ Patient / Diary Details";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
         Html.ActionLink("Edit Entry", "Edit", "Diary", new { id = Model.diary.DiaryID }, new { @class = "btn btn-light bg-white me-2 m-1" }),
    };
}

@if (Model.message != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.success)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="row">
	<div class="col-12 col-lg-812 col-xxl-912 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<h3 class="card-title mb-0 text-dark">Diary Details</h3>
			</div>
			<table class="table table-borderless my-0">
				<tbody>
					<tr>
						<td>
							<div class="d-flex">
								<div class="flex-grow-1 ms-3">
                                    <strong>Diary Date</strong>
									<div class="text-muted">
                                        @if (Model.diary.DiaryDate.HasValue)
                                        {
                                            @Model.diary.DiaryDate.Value.ToString("dd/MM/yyyy")
                                        }
                                        else
                                        {
                                            <span class="text-danger">No date provided</span>
                                        }
                                        
									</div>
								</div>
							</div>
						</td>
						<td class="d-none d-xxl-table-cell">
                            <strong>Diary With</strong>
							<div class="text-muted">
                                @Model.diary.DiaryWithName
							</div>
						</td>
						<td class="d-none d-xl-table-cell">
                            <strong>Consultant</strong>
							<div class="text-muted">
                                @Model.diary.DiaryConsName
							</div>
						</td>
						<td>
                            <div class=" d-none d-xxl-table-cell">
                                <strong>Action</strong>
                                <div class="text-muted">
                                    @if (Model.diary.DiaryAction != null)
                                    {
                                      @Model.diary.DiaryAction <span>-</span> @Model.defaultAction.Action

                                    }
                                </div>
                                
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="d-flex">
								
								<div class="flex-grow-1 ms-3">
                                    <strong>Referral</strong>
									<div class="text-muted">
                                        @if (Model.linkedRef != null && Model.linkedRef.DATE_SCHEDULED.HasValue)
                                        {
                                            <span>@Model.linkedRef.RefID - @Model.linkedRef.TYPE on @Model.linkedRef.DATE_SCHEDULED.Value.ToString("dd/MM/yyyy")</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">No linked referral found.</span>
                                        }
									</div>
								</div>
							</div>
						</td>
						<td class="d-none d-xxl-table-cell">
                            <strong>Doccode</strong>
							<div class="text-muted">
                                @if (Model.diary.DocCode != null)
                                {
                                    @Model.diary.DocCode
                                }
							</div>
						</td>
						<td class="d-none d-xl-table-cell">
                            <strong>Diary Text</strong>
							<div class="text-muted">
                                @if(Model.diary.DiaryText != null)
                                {
                                    @Model.diary.DiaryText
                                }
                                else
                                {
                                    <span class="text-danger">No diary text provided.</span>
                                }

							</div>
						</td>
						
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>