@model AdminX.ViewModels.ICPVM
@{
    ViewData["Title"] = "Admin-X - ICP Details";
    ViewData["HomeBtn"] = Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.triage.MPI }, new { @class = "btn btn-primary m-1" });

}

<div class="container-fluid">
    <div class="card flex-fill">
        <div class="card-header">
            <h3 class="card-title text-dark">ICP Details</h3>
        </div>
        <table class="table table-borderless my-0">

            <tbody>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong>@Html.DisplayNameFor(model => model.triage.Name):</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.triage.Name)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong>Consultant:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.triage.ConsultantName)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong> GC:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.triage.GCName)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong> Referral Date:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.triage.RefDate)
                                    @if (Model.referralAgeDays != null)
                                    {
                                        <span><strong>Age:</strong> @Model.referralAgeDays days (@Model.referralAgeWeeks weeks)</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong>   Pathway:</strong>
                                <div class="text-muted" id="referralPathway">
                                    @Html.DisplayFor(model => model.triage.ReferralPathway)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong>@Html.DisplayNameFor(model => model.triage.CGU_No):</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.triage.CGU_No)

                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong> Referred By:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.referralDetails.ReferringClinician) - @Html.DisplayFor(model => model.referralDetails.ReferringFacility)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong>Indication:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.referralDetails.INDICATION)
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <div class="flex-grow-1 ms-3">
                                <strong> Notes:</strong>
                                <div class="text-muted">
                                    @Html.DisplayFor(model => model.referralDetails.REASON_FOR_REFERRAL)
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card">

        <div class="card-body">
            <form class="row row-cols-md-auto align-items-center" id="formICPGeneral" asp-action="DoGeneralTriage">
                <h4 class="card-title text-dark">Treatment Pathway</h4>
                <div id="metadata-general" hidden="true">
                    @*<input value=@Html.DisplayFor(model => model.triage.ICPID) name="icpID" />*@
                    <input name="icpID" asp-for=@Model.triage.ICPID />
                    <input id="txtTP1" name="tp" />
                    <input id="txtTP2" name="tp2" />
                </div>
                <div class="col-12">
                    <select id="ddlTreatPath1" name="tp" asp-for=@Model.triage.TreatPath class="form-select">
                        <option value="">Select...</option>
                        @foreach (var item in Model.generalActionsList)
                        {
                            <option value=@item.ID>@item.Action</option>
                        }
                    </select>
                </div>

                <div class="col-12">
                    <select id="ddlTreatPath2-NoClinic" name="tp2nc" asp-for=@Model.triage.TreatPath2 class="form-select">
                        <option value="">Select...</option>
                        @foreach (var item in Model.generalActionsList2)
                        {
                            if (item.Clinic == false)
                            {
                                <option value=@item.ID>@item.Action</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-12">
                    <button id="btnGeneralTriage" type="button" class="btn btn-default btn-outline-primary">Complete Triage</button>
                </div>
            </form>

            <form id="formICPCancer" asp-action="DoCancerTriage">
                <div id="metadata-cancer" hidden="true">
                    <input value=@Html.DisplayFor(model => model.triage.ICPID) name="icpID" />
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Action on Referral Letter</label>
                    </div>
                    <div class="col-md-6">
                        <select id="ddlCancerAction" name=action class="form-select">
                            @foreach (var item in @Model.cancerActionsList)
                            {
                                <option value=@item.ID>@item.Action</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" id="lblOthGenetics" hidden="true">
                        <label>Forward to New Genetics Unit:</label>
                    </div>
                    <div class="col-md-2">
                        <select name="clinician" id="ddlOthGenetics" class="form-select" hidden="true">
                            <option value="" selected>Select...</option>
                            @foreach(var item in Model.clinicians)
                            {
                                <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME, @item.FACILITY</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button id="btnCancerTriage" type="button" class="btn btn-default btn-outline-primary mt-2">Complete Triage</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("btnGeneralTriage").addEventListener("click", DoGeneralTriage);
    document.getElementById("btnCancerTriage").addEventListener("click", DoCancerTriage);
    document.getElementById("ddlCancerAction").addEventListener("change", ShowOtherGenetics);
    window.addEventListener("load", LoadICP);

    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function ShowOtherGenetics()
    {
        if(document.getElementById("formICPCancer").hidden == false)
        {
            if(document.getElementById("ddlCancerAction").value == 8)
            {
                document.getElementById("lblOthGenetics").hidden = false;
                document.getElementById("ddlOthGenetics").hidden = false;
            }
            else
            {
                document.getElementById("lblOthGenetics").hidden = true;
                document.getElementById("ddlOthGenetics").hidden = true;
            }
        }
    }



    function LoadICP() 
    {
        var _rp = "@(Model.triage.ReferralPathway)";
        var _gc = "@(Model.triage.GCTriaged)";
        var _cons = "@(Model.triage.ConsTriaged)";
        document.getElementById("formICPGeneral").hidden = true;
        document.getElementById("formICPCancer").hidden = true;

        if (_rp.match("Gen*")) 
        {
            document.getElementById("formICPGeneral").hidden = false;
            document.getElementById("metadata-general").hidden = true;
            //document.getElementById("ddlIsSPR").value = "@(Model.triage.ConsWLForSPR)";
        }
        else 
        {
            document.getElementById("formICPCancer").hidden = false;
        }
    }


    function DoGeneralTriage() 
    {

        var _tp2nc = document.getElementById("ddlTreatPath2-NoClinic");
        var _facility = document.getElementById("ddlFacility");

        if (CheckFormValid() == 1) 
        {
            document.getElementById("formICPGeneral").submit();
        }
    }

    function DoCancerTriage() 
    {
        if(document.getElementById("ddlCancerAction").value == 8 && document.getElementById("ddlOthGenetics").value == "")
        {
            window.alert("Please pick a genetics unit to forward the referral to.");
        }
        else
        {
            document.getElementById("formICPCancer").submit();
        }
    }



    function CheckFormValid() 
    { //validation to ensure all required data is entered

        if (document.getElementById("ddlTreatPath1").value == null || document.getElementById("ddlTreatPath1").value == "") 
        {
            window.alert("Please choose a treatment pathway.");
            return 0;
        }

        return 1;
    }

</script>