@model AdminX.ViewModels.ICPVM
@{
    ViewData["Title"] = "Admin-X - Triages";
}


<div class="card">
    @*<div>
        <input type="button" value="Back" id="btnBack" class="btn btn-default btn-success" />
    </div>*@

    <div class="row g-2 mb-5 mt-2">
        @*<h1 class="text-center">Welcome @Html.DisplayFor(model => model.FirstOrDefault().Clinician)!</h1>*@

        <h2 class="text-center">Cases to Triage:</h2>
    </div>

    <div class="d-grid">
        <table class="defaultTable">
            <thead>
                <tr>
                    <th></th>
                    <th>File Number</th>
                    <th>Pathway</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Referral Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.triages)
                {
                    <tr>
                        <td><a asp-controller="Triage" asp-action="ICPDetails" asp-route-id=@item.ICPID class="btn btn-primary">Select</a></td>
                        <td>@item.CGU_No</td>
                        <td>@item.ReferralPathway</td>
                        <td>@item.RefType</td>
                        <td>@item.Name</td>
                        <td>@item.RefDate.Value.ToString("dd/MM/yyyy")</td>                
                    </tr>
                }
            </tbody>
        </table>
    </div>

   
</div>
