@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - Staff Members";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),
        Html.ActionLink("Clinic Details", "CliniciansClinics", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicDetails" }),
    };
}


@if (Model.message != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.success)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">External Clinicians</h5>
    </div>
    <div class="card-body">
       
        <div class="row ">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                
            </div>
        </div>

        <form asp-action="Clinicians" class="row row-cols-md-auto align-items-center">
			<div class="col-12">
                <label class="form-label" for="inlineFormInputName2">FirstName</label>
                <input type="text" class="form-control mb-2 me-sm-2" id="inlineFormInputName2" name="firstNameSearch">
			</div>
			<div class="col-12">
                <label class="form-label" for="inlineFormInputName1">Surname</label>
                <input type="text" class="form-control mb-2 me-sm-2" id="inlineFormInputName1" name="lastNameSearch">
			</div>

            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyCurrent">
                    <input name="isOnlyCurrent" id="txtOnlyCurrent" hidden />
                    <label class="form-check-label" for="customControlInline" id="chkOnlyCurrent">Show Only Current</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyGP">
                    <input name="isOnlyGP" id="txtOnlyGP" hidden />
                    <label class="form-check-label" for="customControlInline" id="chkOnlyGP">Show Only GPs</label>
                </div>
            </div>

			<div class="col-12">
				<div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyNonGP">
                    <input name="isOnlyNonGP" id="txtOnlyNonGP" hidden />
                    <label class="form-check-label" for="customControlInline">Show Only Non-GPs</label>
				</div>
			</div>

			<div class="col-12">
				<button type="submit" class="btn btn-primary mb-2">Submit</button>
			</div>
            <div class="col-12 ms-auto">
                <a type="button" class="btn btn-outline-primary float-end" asp-controller="SysAdmin" asp-action="AddNewClinician">Add New External Clinician</a>
            </div>
		</form>

 
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped table-hover defaultTable">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Clinician Code</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Speciality</th>
                    <th>Facility Code</th>
                    <th>GP?</th>
                    <th>Active?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clinicians)
                {
                    <tr>
                        <td><a type="button" class="btn btn-outline-primary" asp-action="ClinicianDetails" asp-route-clinCode=@item.MasterClinicianCode>Details</a></td>
                        <td>@item.MasterClinicianCode</td>
                        <td>@item.TITLE @item.FIRST_NAME @item.NAME</td>
                        <td>@item.POSITION</td>
                        <td>@item.SPECIALITY</td>
                        <td>@item.FACILITY</td>
                        @if (item.Is_Gp == 0)
                        {
                            <td>No</td>
                        }
                        else
                        {
                            <td>Yes</td>
                        }
                        @if (item.NON_ACTIVE == 0)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
  </div>


<script>

    document.getElementById("chkOnlyCurrent").addEventListener("change", SetCheckBoxValues)
    document.getElementById("chkOnlyGP").addEventListener("change", SetCheckBoxValues)
    document.getElementById("chkOnlyNonGP").addEventListener("change", SetCheckBoxValues)

    function SetCheckBoxValues()
    {        
        document.getElementById("txtOnlyCurrent").value = document.getElementById("chkOnlyCurrent").checked;
        document.getElementById("txtOnlyGP").value = document.getElementById("chkOnlyGP").checked;
        document.getElementById("txtOnlyNonGP").value = document.getElementById("chkOnlyNonGP").checked;

        
    }

</script>
