@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - External Clinician Details";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),

    };
}

<div class="card flex-fill">
    <div class="card flex-fill">
		<h5 class="card-title text-dark mb-0">Details for @Model.clinician.TITLE @Model.clinician.FIRST_NAME @Model.clinician.NAME (@Model.clinician.MasterClinicianCode)</h5>
	</div>
    <form asp-action="ClinicianDetails">
    	
        <div class="d-flex">
		    <div class="flex-grow-1 ms-3">
			    <strong>Clinician Code</strong>
			    <div class="text-muted">
                    <input name="clinCode" asp-for=@Model.clinician.MasterClinicianCode readonly />
                </div>
            </div>
        </div>
        
        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Name</strong>
            	<div class="text-muted">
                    <select name="title" asp-for=@Model.clinician.TITLE>
                        <option value="">Select ...</option>
                        @foreach(var item in Model.titles)
                        {
                            <option value=@item.Title>@item.Title</option>
                        }
                    </select>
                    <input name="firstName" asp-for=@Model.clinician.FIRST_NAME />
                    <input name="lastName" asp-for=@Model.clinician.NAME />                              
    		    </div>
            </div>
        </div>
        
        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Speciality</strong>
            	<div class="text-muted">
                    <input name="speciality" asp-for=@Model.clinician.SPECIALITY />
                </div>
                <strong>Position</strong>
        	    <div class="text-muted">
                    <input name="position" asp-for=@Model.clinician.POSITION />
                </div>
            </div>
        </div>
		
        				    	
        <div class="flex-grow-1 ms-3">
			<strong>Facility</strong>
			<div class="text-muted">
			    <select name="facility" asp-for=@Model.clinician.FACILITY>
                    <option value="">Select ...</option>
                    @foreach(var item in Model.facilities)
                    {
                        <option value=@item.MasterFacilityCode>@item.NAME</option>
                    }
                </select>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Active</strong>
                <div class="text-muted">
                    <select name="isActive" asp-for=@Model.clinician.NON_ACTIVE>
                        <option value=0>Yes</option>
                        <option value=-1>No</option>
                    </select>        
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="flex-grow-1 ms-3">
                <strong>Is GP</strong>
        		<div class="text-muted">
                    <div class="text-muted">
                        <select name="isGP" asp-for=@Model.clinician.Is_Gp>
                            <option value=0>No</option>
                            <option value=-1>Yes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
	        	

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>