@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - External Clinician Details";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),

    };
}

<div class="card">
    <div class="card-header">
		<h5 class="card-title text-dark">Details for @Model.clinician.TITLE @Model.clinician.FIRST_NAME @Model.clinician.NAME (@Model.clinician.MasterClinicianCode)</h5>
	</div>
    <div class="card-body">
        <form asp-action="ClinicianDetails">

            <div class="row mb-3">
                <div class="col-md-1">
                    <label class="col-form-label text-sm-end">Clinician Code</label>
                    
                </div>
                <div class="col-md-11">
                    <input class="form-control" name="clinCode" asp-for=@Model.clinician.MasterClinicianCode readonly />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-1">
                    <label class="col-form-label text-sm-end">Name</label>
                    
                </div>
                <div class="col-md-3">
                    <select class="form-select" name="title" asp-for=@Model.clinician.TITLE>
                        <option value="">Select ...</option>
                        @foreach (var item in Model.titles)
                        {
                            <option value=@item.Title>@item.Title</option>
                        }
                    </select>
                   
                </div>
                <div class="col-md-4">
                    <input class="form-control" name="firstName" asp-for=@Model.clinician.FIRST_NAME />
                </div>
                <div class="col-md-4">
                    <input class="form-control" name="lastName" asp-for=@Model.clinician.NAME />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-1">
                    <label class="col-form-label">Speciality</label>
                </div>
                <div class="col-md-11">
                    <input name="speciality" class="form-control" asp-for=@Model.clinician.SPECIALITY />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-1">
                    <label class="col-form-label">Position</label>
                </div>
                <div class="col-md-11">
                    <input name="position" class="form-control" asp-for=@Model.clinician.POSITION />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-1">
                    <label class="col-form-label">Facility</label>
                </div>
                <div class="col-md-11">
                    <div class="text-muted">
                        <select class="form-select js-choice" name="facility" asp-for=@Model.clinician.FACILITY>
                            <option value="">Select ...</option>
                            @foreach (var item in Model.facilities)
                            {
                                <option value=@item.MasterFacilityCode>@item.NAME</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3">
                    <label class="form-label">Active</label>
                    <div class="text-muted">
                        <select class="form-select" name="isActive" asp-for=@Model.clinician.NON_ACTIVE>
                            <option value=0>Yes</option>
                            <option value=-1>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Is GP</label>
                    <div class="text-muted">
                        <select name="isGP" class="form-select" asp-for=@Model.clinician.Is_Gp>
                            <option value=0>No</option>
                            <option value=-1>Yes</option>
                        </select>
                    </div>
                </div>
            </div>

            


            <button type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>
</div>