@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - Clinic Venues";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),

    };
}

<div class="container">

    @if (Model.message != null)
    {
        <div class="card">
            <div class="card-body">
                @if (Model.success)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <div class="alert-icon">
                            <i class="far fa-fw fa-bell"></i>
                        </div>
                        <div class="alert-message">
                            <h3>@Model.message</h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div class="alert-icon">
                            <i class="far fa-fw fa-bell"></i>
                        </div>
                        <div class="alert-message">
                            <h3>@Model.message</h3>
                        </div>
                    </div>
                }
            </div>
        </div>
    }


    <div class="row mb-5 g-5">
        <h1>Clinic Venue Administration</h1>
    </div>

    <div class="row mb-5 g-5">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a type="button" class="btn btn-outline-primary" asp-controller="WIP" asp-action="Index">Add New Clinic Venue</a>
        </div>
    </div>

    <form asp-action="Facilities">
        <div class="row mb-5">
            <div class="col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-2">
                <input name="nameSearch" />
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-md-1">
                <label>Show Only Current</label>
            </div>
            <div class="col-md-1">
                <input type="checkbox" id="chkOnlyCurrent" />
                <input name="isOnlyCurrent" id="txtOnlyCurrent" hidden />
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">            
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </div>
        </div>
    </form>




    <div class="row  mb-5 g-5">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Facility Code</th>
                    <th>Name</th>
                    <th>City</th>                                        
                    <th>Active?</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.venues)
                {
                    <tr>
                        <td><a type="button" class="btn btn-outline-primary" asp-action="VenueDetails" asp-route-clinCode=@item.FACILITY>Details</a></td>
                        <td>@item.FACILITY</td>
                        <td>@item.NAME</td>
                        <td>@item.LOCATION</td>                        
                        @if(item.NON_ACTIVE == 0)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<script>

    document.getElementById("chkOnlyCurrent").addEventListener("change", SetCheckBoxValues)
    
    function SetCheckBoxValues()
    {        
        document.getElementById("txtOnlyCurrent").value = document.getElementById("chkOnlyCurrent").checked;
    }

</script>
