@model AdminX.ViewModels.SysAdminVM
@{
    ViewData["Title"] = "Admin-X - System Administration - Staff Members";
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("System Administration Home", "", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnSysAdmin" }),
        Html.ActionLink("Staff Members", "StaffMembers", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnStaffMembers" }),
        Html.ActionLink("External Clinicians", "Clinicians", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicians" }),
        Html.ActionLink("External Facilities", "Facilities", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnFacilities" }),
        Html.ActionLink("Clinic Venues", "ClinicVenues", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicVenues" }),
        Html.ActionLink("Clinic Details", "CliniciansClinics", "SysAdmin", new {  }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnClinicDetails" }),
    };
}

@if (Model.message != null)
{
    <div class="card">
        <div class="card-body">
            @if (Model.success)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <h3>@Model.message</h3>
                    </div>
                </div>
            }
        </div>
    </div>
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">Staff Member Administration</h5>
    </div>
    <div class="card-body">

        <form asp-action="StaffMembers" class="row row-cols-md-auto align-items-center">
            <div class="col-12">
                <label class="form-label" for="inlineFormInputName2">Staff Code</label>
                <input type="text" class="form-control mb-2 me-sm-2" id="inlineFormInputName2" name="staffCodeSearch">
            </div>
            <div class="col-12">
                <label class="form-label" for="inlineFormInputName2">Name</label>
                <input type="text" class="form-control mb-2 me-sm-2" id="inlineFormInputName2" name="nameSearch">
            </div>
            <div class="col-12">
                <label class="form-label" for="inlineFormInputName2">Team</label>
                <select name="teamSearch" class="form-select">
                    <option value="" selected>Select...</option>
                    @foreach (var item in Model.teams)
                    {
                        <option value=@item>@item</option>
                    }
                </select>
            </div>

            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyCurrent">
                    <input name="isOnlyCurrent" id="txtOnlyCurrent" hidden />
                    <label class="form-check-label" for="customControlInline">Show Only Current</label>
                </div>
            </div>
      
            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkNotExternal">
                    <input name="isNotExternal" id="txtNotExternal" hidden />
                    <label class="form-check-label" for="customControlInline">Exclude External</label>
                </div>
            </div>
      
            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyAdmin">
                    <input name="isOnlyAdmin" id="txtOnlyAdmin" hidden />
                    <label class="form-check-label" for="customControlInline">Show Only Admin</label>
                </div>
            </div>
      
            <div class="col-12">
                <div class="form-check mb-1 me-sm-2">
                    <input type="checkbox" class="form-check-input" id="chkOnlyClinical">
                    <input name="isOnlyClinical" id="txtOnlyClinical" hidden />
                    <label class="form-check-label" for="customControlInline">Show Only Clinical</label>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Search</button>
            <div class="col-12 ms-auto">
                <a type="button" class="btn btn-dark" asp-action="AddNewStaffMember">Add New Staff Member</a>

            </div>
        </form>

        </div>

</div>




<div class="card">

      <div class="card-body">
        <table class="table table-bordered table-hover table-striped defaultTable">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Staff Code</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Type</th>
                    <th>Team</th>
                    <th>In Post</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.staffMembers)
                {
                    <tr>
                        <td><a type="button" class="btn btn-outline-primary" asp-action="StaffMemberDetails" asp-route-staffCode=@item.STAFF_CODE>Details</a></td>
                        <td>@item.STAFF_CODE</td>
                        <td>@item.NAME</td>
                        <td>@item.POSITION</td>
                        <td>@item.CLINIC_SCHEDULER_GROUPS</td>
                        <td>@item.BILL_ID</td>
                        @if(item.InPost)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<script>

    document.getElementById("chkOnlyCurrent").addEventListener("change", SetCheckBoxValues)
    document.getElementById("chkNotExternal").addEventListener("change", SetCheckBoxValues)
    document.getElementById("chkOnlyAdmin").addEventListener("change", SetCheckBoxValues)
    document.getElementById("chkOnlyClinical").addEventListener("change", SetCheckBoxValues)

    function SetCheckBoxValues()
    {        
        document.getElementById("txtOnlyCurrent").value = document.getElementById("chkOnlyCurrent").checked;
        document.getElementById("txtNotExternal").value = document.getElementById("chkNotExternal").checked;
        document.getElementById("txtOnlyAdmin").value = document.getElementById("chkOnlyAdmin").checked;
        document.getElementById("txtOnlyClinical").value = document.getElementById("chkOnlyClinical").checked;

        
    }

</script>
