<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin-X</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/light.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    <div class="main">

        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/admin-x-logo-2.png" width="100" height="50" /></a>

            <ul class="navbar-nav d-none d-lg-flex">
                @*
                <li class="nav-item px-2 ">
                <a class="nav-link text-dark" asp-area="" asp-controller="PatientSearch" asp-action="Index">Patient Search</a>
                </li>
                <li class="vr"></li>
                *@
                <li class="nav-item dropdown">
                    <a class="nav-link  text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patient
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="" asp-controller="PatientSearch" asp-action="Index">Search</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="PatientSearch" asp-action="NewPatientSearch">Add New</a></li>                       
                    </ul>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Clinic" asp-action="Index">Contact Outcomes</a>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Triage" asp-action="Index">Triages</a>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Index">Reviews</a>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="DictatedLetter" asp-action="Index">Letters</a>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="OtherCaseload" asp-action="Index">Clinician Caseloads</a>
                </li>
                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="SysAdmin" asp-action="Index">System Administration</a>
                </li>
                <li class="vr"></li>

                <li class="vr"></li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Sign Out</a>
                </li>
            </ul>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="http://electronic:80">Genetics IT Home Page</a>
                    </li>

                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="container-fluid p-0">
                <div class="row mb-2 mb-xl-3">
                    <div class="col-auto d-none d-sm-block">
                        @await Html.PartialAsync("_Breadcrumb", ViewBag.Breadcrumbs as List<AdminX.Models.BreadcrumbItem>)
                    </div>

                    <div class="col-auto ms-auto text-end mt-n1">
                        @if (ViewBag.HomeButton != null)
                        {
                            @foreach (var button in ViewBag.HomeButton)
                            {
                                @button
                            }
                        }
                        @ViewData["HomeBtn"]

                    </div>
                </div>
                @RenderBody()
            </div>
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0 text-muted"><strong>AdminX</strong> &copy;</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    @*<footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2023 - Clinic-X - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.defaultTable').DataTable({
                info: true,
                order: false,
                paging: true,
                autoWidth: false,
                width: "100%"

            });

            // choice js
            const elements = document.querySelectorAll('.js-choice');
            elements.forEach(function(element) {
            new Choices(element);
          });

          // toastr js
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        });

        @if (TempData["SuccessMessage"] != null)
        {
            <text>toastr.success('@TempData["SuccessMessage"]');</text>
        }
        @if (TempData["InfoMessage"] != null)
        {
            <text>toastr.info('@TempData["InfoMessage"]');</text>
        }
        @if (TempData["WarningMessage"] != null)
        {
            <text>toastr.warning('@TempData["WarningMessage"]');</text>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <text>toastr.error('@TempData["ErrorMessage"]');</text>
        }

       
    </script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
