@model AdminX.ViewModels.MergeHistoryVM

@{
    ViewData["Title"] = "Admin-X - Merge History";
    ViewData["Page"] = "/ Merge History ";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}


<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">Merge history</h5>
    </div>
    <div class="card-body">
        <form asp-action="Search">
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label"> Old file number </label>
                    <input type="text" value="" class="form-control" name="oldFileNo" />
                </div>
                <div class="col-md-2">
                    <label class="form-label"> New file number </label>
                    <input type="text" value="" class="form-control" name="newCGUNo" />
                </div>
                <div class="col-md-2">
                    <label class="form-label"> NHS No </label>
                    <input type="text" value="" class="form-control" name="nhsNo" />
                </div>
                <div class="col-md-2">
                    <label class="form-label"> Firstname </label>
                    <input type="text" value="" class="form-control" name="firstName" />
                </div>
                <div class="col-md-2">
                    <label class="form-label"> Lastname </label>
                    <input type="text" value="" class="form-control" name="lastName" />
                </div>
                <div class="col-md-2 mb-4">
                    <label class="form-label"> Date of birth </label>
                    <input type="date" value="" class="form-control" name="dob" />
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-outline-primary">Search</button>
        </form>
    </div>
</div>

@if (Model.message != null && Model.message != "")
{
    <div>
        <div class="card-body">
            <h4 class="text-dark">@Model.message</h4>
        </div>
    </div>

}
else
{

    @if (Model.mergeHistory != null)
    {
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Old pedigree</th>
                            <th>New pedigree</th>
                            <th>Patient</th>
                            <th>Merge type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.mergeHistory)
                        {
                            <tr>
                                <td>@item.OldPedigreeNumber</td>
                                <td>@item.NewPedigreeNumber</td>
                                <td>@item.PatientName</td>
                                <td>@item.Type</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
