@model AdminX.ViewModels.RelativeDiaryVM

@{
    ViewData["Title"] = "Admin-X - Relative Diary";
    ViewData["Page"] = "/ Relative / Diary";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Diary List", "Index", "RelativeDiary", new { id = Model.relative.relsid }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Back to Relative Details", "RelativeDetails", "Relative", new { id = Model.relative.relsid }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" })
    };
}

<div class="card">

    <div class="card-header">
        <h5 class="card-title text-dark">New Diary Entry for @Model.relative.RelForename1 @Model.relative.RelSurname</h5>
    </div>

    <div class="card-body">
        <form id="frmAddNew" asp-action="Edit">
            <input asp-for=@Model.relativeDiary.DiaryID name="diaryID" hidden />
            <div class="row mb-3">
                <label class="col-form-label col-md-1 ">Diary Date:</label>
                <div class="col-md-10">
                    <input type="date" name="diaryDate" class="form-control" value=@DateTime.Today.ToString("yyyy-MM-dd") asp-for=@Model.relativeDiary.DiaryDate />
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-md-1">Action Code:</label>
                <div class="col-md-10">
                    <select name="actionCode" class="form-select js-choice" asp-for=@Model.relativeDiary.DiaryAction>
                        <option value="">Select</option>
                        @foreach (var item in Model.diaryActionsList)
                        {
                            @if (item.Action != null)
                            {
                                <option value=@item.ActionCode>@item.ActionCode - @item.Action</option>
                            }
                            else
                            {
                                <option value=@item.ActionCode>@item.ActionCode</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label col-md-1">DocCode:</label>
                <div class="col-md-10">
                    <select name="docCode" class="form-select js-choice" asp-for=@Model.relativeDiary.DocCode>
                        <option value="">Select</option>
                        @foreach (var item in Model.documentsList)
                        {
                            <option value=@item.DocCode>@item.DocCode- @item.DocName</option>
                        }
                    </select>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-form-label col-md-1">Diary Text</label>
                <div class="col-md-10">
                    <input name="diaryText" class="form-control" asp-for=@Model.relativeDiary.DiaryText />
                </div>
            </div>

                    <div class="row g-5 mb-5">
                <div class="col-md-2">
                    <input type="submit" class="btn btn-default btn-primary" value="Save" id="btnSave" />
                </div>
            </div>
        </form>
    </div>

    
</div>