@model AdminX.ViewModels.HomeVM
@{
    ViewData["Title"] = "Admin-X Home Page";
}

<div class="p-4  card">

    @if (!Model.isLive)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div class="alert-icon">
                <i class="far fa-fw fa-bell"></i>
            </div>
            <div class="alert-message">
                <strong>NOTE:</strong> This is a test system. Work completed here will not be reflected in production.
            </div>
        </div>
    }

    @if (Model.notificationMessage != null && Model.notificationMessage != "")
    {
        <h1 class="text-center redtext">@Model.notificationMessage</h1>
    }


    <h2 class="text-center">Welcome, @Model.name!</h2>
    <br />

    <p class="text-center"><img src="~/images/admin-x-logo-2.png" width="500" height="200" /></p>
    <br />

    <h3 class="text-center">The new system for admin team members to manage the database.</h3>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><label>Application version: @Model.appVersion</label></div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><label>Data library version: @Model.dllVersion</label></div>
    </div>

</div>

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Outstanding Contact Outcomes:</h5>
                    </div>
                    <div class="col-auto mt-0">
                        <h1>@Model.contactOutcomes</h1>
                    </div>
                </div>
                <div class="mb-0">
                    <span class="text-muted"><a type="button" class="btn btn-lg btn-outline-primary" asp-controller="Clinic" asp-action="Index">Contact Outcomes</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Outstanding Patient Reviews:</h5>
                    </div>
                    <div class="col-auto mt-0">
                        <h1>@Model.reviewOutcomes</h1>
                    </div>
                </div>
                <div class="mb-0">
                    <span class="text-muted"><a type="button" class="btn btn-lg btn-outline-primary" asp-controller="Review">Patient Reviews</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Awaiting Triage:</h5>
                    </div>
                    <div class="col-auto mt-0">
                        <h1>@Model.triageOutcomes</h1>
                    </div>
                </div>
                <div class="mb-0">
                    <span class="text-muted"><a type="button" class="btn btn-lg btn-outline-primary" asp-controller="Triage" asp-action="Index">Awaiting Triage</a></span>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col mt-0">
                        <h5 class="card-title">Dictated Letters:</h5>
                    </div>
                    <div class="col-auto mt-0">
                        <h1>@Model.dictatedLetters</h1>
                    </div>
                </div>
                <div class="mb-0">
                    <span class="text-muted"><a type="button" class="btn btn-lg btn-outline-primary" asp-controller="DictatedLetter">Dictated Letters</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.dutyClinicianList.Count > 0)
{
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="card">
                <div class="card-body">
                    @foreach(var item in Model.dutyClinicianList)
                    {
                        <h3 class="mt-1 mb-3"><strong>Duty @item.CLINIC_SCHEDULER_GROUPS:  </strong>@item.NAME</h3>
                    }                        
                </div>
            </div>
        </div>
    </div>
}
