@model AdminX.ViewModels.SSPVM

@{
    ViewData["Title"] = "Admin-X - Social Service Pathways";
    ViewData["Page"] = "/ Social Service Pathways";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Social Service Pathways</h1>
        </div>

        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>CGU Number</th>
                        <th>Patient</th>
                        <th>Current Status</th>
                        <th>Outcome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.ssps)
                    {
                        <tr>
                            <td><a type="button" class="btn btn-primary" asp-controller="SSP" asp-action="SSPDetails" asp-route-id=@item.SSPID>@item.CGU_No</a></td>
                            <td>@item.PatientFirstName @item.PatientLastName</td>
                            <td>@item.SSPStatus</td>
                            <td>@item.Outcome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>