@model AdminX.ViewModels.ReferralVM
@{
    ViewData["Title"] = "Admin-X - New Referral";
}

<div action="container">
    <h1 class="text-center">New referral for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h1>

    @if(Model.referrals.Count() > 1)
    {
        <h2 class="text-center">There is already an active referral for this patient. You can't add another one without closing the existing one first.</h2>
    }
    else
    {
        <form asp-action="AddNew">
            <div class="row" hidden="true">
                <input name="mpi" asp-for=@Model.patient.MPI />
            </div>
            <div class="row mb-5 g-5">
                <h3>Referral Details</h3>
                <div class="col-md-1">
                    <label>Type</label>
                </div>
                <div class="col-md-2">
                    <select name="refType">
                        @foreach(var item in Model.activities)
                        {
                            <option value=@item.APP_TYPE>@item.APP_TYPE</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Date</label>
                </div>
                <div class="col-md-2">
                    <input type="date" name="refDate" />
                </div>
                <div class="col-md-1">
                    <label>Pathway</label>
                </div>
                <div class="col-md-2">
                    <select name="refPathway">
                        @foreach (var item in Model.pathways)
                        {
                            <option value=@item>@item</option>
                        }
                    </select>
                </div>
                <div class="col-md-1">
                    <label>Indication</label>
                </div>
                <div class="col-md-2">
                    <input type="text" name="indication" />
                </div>
            </div>

            <div class="row mb-5 g-5">
                <h3>CGU Staff details</h3>
                <div class="col-md-2">
                    <label>Consultant</label>
                </div>
                <div class="col-md-2">
                    <select name="consultant">
                        @foreach (var item in Model.consultants)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Genetic Counsellor</label>
                </div>
                <div class="col-md-2">
                    <select name="consultant">
                        @foreach (var item in Model.gcs)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Admin Contact</label>
                </div>
                <div class="col-md-2">
                    <select name="admin">
                        @foreach (var item in Model.admin)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-5 g-5">
                <h3>Referrer details</h3>
                <div class="col-md-2">
                    <label>Referring Clinician</label>
                </div>
                <div class="col-md-10">
                    <select name="refPhys">
                        @foreach (var item in Model.referrers)
                        {
                            <option value=@item.MasterClinicianCode>@item.TITLE @item.FIRST_NAME @item.LAST_NAME - @item.FACILITY, @item.CITY</option>
                        }
                    </select>
                </div>
            </div>


            <div class="row mb-5 g-5">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    }


</div>


