@model AdminX.ViewModels.ReferralVM
@{
    ViewData["Title"] = "Admin-X - New Referral";
    ViewData["Page"] = "/ Referral ";
}

<div class="row">
    <div class="col-md-3 col-xl-2">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Referral</h5>
            </div>

            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#referral" role="tab" aria-selected="true">
                    Referral Details
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#appointment" role="tab" aria-selected="false" tabindex="-1">
                    Appointments
                </a>                
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="referral" role="tabpanel">
                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title mb-0">@Model.patient.FIRSTNAME @Model.patient.LASTNAME - Referral Details</h5>
                    </div>
                    <div class="card-body">
                        @if (Model.referral.PATHWAY?.Trim() == "Cancer")
                        {
                            <table class="table table-borderless my-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral ID</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.refid
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Referral Date</strong>
                                            <div class="text-muted">
                                                @if (Model.referral.RefDate != null)
                                                {
                                                    @Model.referral.RefDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>UBRN</strong>
                                            <div class="text-muted">
                                                @Model.referral.UBRN
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Type</strong>
                                                <div class="text-muted">
                                                    @Model.referral.RefType
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Pathway</strong>
                                                <div class="text-muted">
                                                    @Model.referral.PATHWAY
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Sub Pathway</strong>
                                                    <div class="text-muted">
                                                        Needed
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Consultant</strong>
                                            <div class="text-muted">
                                                @Model.referral.LeadClinician
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Counsellor/Nurse</strong>
                                            <div class="text-muted">
                                                @Model.referral.GC
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Admin Contact</strong>
                                                <div class="text-muted">
                                                    @Model.referral.AdminContact
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referrer</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.ReferringClinician
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral Facility</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.ReferringFacility
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Comment</strong>
                                            <div class="text-muted">
                                                @Model.referral.REASON_FOR_REFERRAL
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Pregnancy</strong>
                                            <div class="text-muted">
                                                @Model.referral.PREGNANCY
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">

                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Indication</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.INDICATION
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Class</strong>
                                            <div class="text-muted">
                                                @Model.referral.RefClass
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Clock Start</strong>
                                            <div class="text-muted">
                                                @if (Model.referral.ClockStartDate != null)
                                                {
                                                    @Model.referral.ClockStartDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Clock Stop</strong>
                                                <div class="text-muted">
                                                    @if (Model.referral.ClockStartDate != null)
                                                    {
                                                        @Model.referral.ClockStopDate.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Clock Age</strong>
                                                <div class="text-muted">
                                                    <p>@Model.clockAgeDays days (@Model.clockAgeWeeks weeks)</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral Status</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.COMPLETE

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Admin Status</strong>
                                            <div class="text-muted">
                                                @Model.referral.Status_Admin

                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Information Gathering</strong>
                                            <div class="text-muted">
                                                Needed
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Breach Reason</strong>
                                                <div class="text-muted">
                                                    Needed
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referred using FHF?</strong>
                                                    <div class="text-muted">
                                                        @if (@Model.referral.RefFHF == 0)
                                                        {
                                                            <span>No</span>
                                                        }
                                                        else if (@Model.referral.RefFHF == 1)
                                                        {
                                                            <p>1</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Don't know/not recorded</p>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral Reason Code</strong>
                                                    <div class="text-muted">
                                                        <ul class="list-unstyled">
                                                            <li>@Model.referral.RefReasonCode</li>
                                                            <li>@Model.referral.OthReason1</li>
                                                            <li>@Model.referral.OthReason2</li>
                                                            <li>@Model.referral.OthReason3</li>
                                                            <li>@Model.referral.OthReason4</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Affected</strong>
                                                    <div class="text-muted">
                                                        <p>

                                                            @if (@Model.referral.OthReason1Aff == 0)
                                                            {
                                                                <span>No | </span>
                                                            }
                                                            else if (@Model.referral.OthReason1Aff == 1)
                                                            {
                                                                <span>Yes | </span>
                                                            }


                                                            @if (@Model.referral.OthReason2Aff == 0)
                                                            {
                                                                <span>No | </span>
                                                            }
                                                            else if (@Model.referral.OthReason2Aff == 1)
                                                            {
                                                                <span>Yes | </span>
                                                            }
                                                            @if (@Model.referral.OthReason3Aff == 0)
                                                            {
                                                                <span>No | </span>
                                                            }
                                                            else if (@Model.referral.OthReason3Aff == 1)
                                                            {
                                                                <span>Yes | </span>
                                                            }

                                                            @if (@Model.referral.OthReason4Aff == 0)
                                                            {
                                                                <span>No </span>
                                                            }
                                                            else if (@Model.referral.OthReason4Aff == 1)
                                                            {
                                                                <span>Yes  </span>
                                                            }

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Symptomatic at referral?</strong>
                                            <div class="text-muted">
                                                @if (Model.referral.RefSympt == 0)
                                                {
                                                    <p>Definitely No</p>
                                                }
                                                else if (Model.referral.RefSympt == 1)
                                                {
                                                    <p>Definitely Yes</p>
                                                }
                                                else if (Model.referral.RefSympt == 2)
                                                {
                                                    <p>Don't know/unclear</p>
                                                }
                                            </div>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>

                        }
                        else if (Model.referral.PATHWAY?.Trim() == "General")
                        {
                            <table class="table table-borderless my-0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral ID</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.refid
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Referral Date</strong>
                                            <div class="text-muted">
                                                @if (Model.referral.RefDate != null)
                                                {
                                                    @Model.referral.RefDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>UBRN</strong>
                                            <div class="text-muted">
                                                @Model.referral.UBRN
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Type</strong>
                                                <div class="text-muted">
                                                    @Model.referral.RefType
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Pathway</strong>
                                                <div class="text-muted">
                                                    @Model.referral.PATHWAY
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Sub Pathway</strong>
                                                    <div class="text-muted">
                                                        Needed
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Consultant</strong>
                                            <div class="text-muted">
                                                @Model.referral.PATIENT_TYPE_CODE
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Counsellor/Nurse</strong>
                                            <div class="text-muted">
                                                @Model.referral.GC_CODE
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Admin Contact</strong>
                                                <div class="text-muted">
                                                    @Model.referral.AdminContact
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referrer</strong>
                                                <div class="text-muted">
                                                    @Model.referral.ReferringClinician
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral Facility</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.ReferringFacility
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Comment</strong>
                                            <div class="text-muted">
                                                @Model.referral.REASON_FOR_REFERRAL
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Pregnancy</strong>
                                            <div class="text-muted">
                                                @Model.referral.PREGNANCY
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Admin Contact</strong>
                                                <div class="text-muted">
                                                    @Model.referral.AdminContact
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                @*<strong>Referrer Code</strong>
                                                <div class="text-muted">
                                                    @Model.referral.ReferrerCode
                                                </div>*@
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Indication</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.INDICATION
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Class</strong>
                                            <div class="text-muted">
                                                @Model.referral.RefClass
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Clock Start</strong>
                                            <div class="text-muted">
                                                @if (Model.referral.ClockStartDate != null)
                                                {
                                                    @Model.referral.ClockStartDate.Value.ToString("dd/MM/yyyy")
                                                }
                                            </div>

                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Clock Stop</strong>
                                                <div class="text-muted">
                                                    @if(Model.referral.ClockStopDate != null)
                                                    {
                                                        @Model.referral.ClockStopDate.Value.ToString("dd/MM/yyyy")
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Clock Age</strong>
                                                <div class="text-muted">
                                                    <p>@Model.clockAgeDays days (@Model.clockAgeWeeks weeks)</p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="flex-grow-1 ms-3">
                                                    <strong>Referral Status</strong>
                                                    <div class="text-muted">
                                                        @Model.referral.COMPLETE

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="flex-grow-1 ms-3">
                                            <strong>Admin Status</strong>
                                            <div class="text-muted">
                                                @Model.referral.Status_Admin

                                            </div>
                                        </td>

                                        <td>
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Breach Reason</strong>
                                                <div class="text-muted">
                                                    @Model.referral.REASON_FOR_BREACH
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                    </tr>

                                </tbody>
                            </table>
                        }
                        <a asp-controller="Referral" asp-action="UpdateReferralDetails" asp-route-refID="@Model.referral.refid" class="btn btn-primary">Edit</a>

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="appointment" role="tabpanel">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Related Appointments</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Booked Date</th>
                                    <th>Booked Time</th>
                                    <th>Venue</th>
                                    <th>To see/seen by</th>
                                    <th>Outcome</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in @Model.ClinicList)
                                {
                                    <tr>
                                        <td>@item.AppType</td>
                                        <td>@item.BOOKED_DATE.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.BOOKED_TIME.Value.ToString("HH:mm")</td>
                                        <td>@item.Clinic</td>
                                        @if(@item.SeenBy != null)
                                        {
                                        <td>@item.SeenBy</td>
                                        }
                                        else
                                        {
                                            <td>@item.Clinician</td>
                                        }
                                        <td>@item.Attendance</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>