@model AdminX.ViewModels.ReferralVM
@{
    ViewData["Title"] = "Admin-X - New Referral";
    ViewData["Page"] = "/ Referral ";
}

<div class="row">
    <div class="col-md-3 col-xl-2">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Profile Settings</h5>
            </div>

            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab" aria-selected="true">
                    Referral
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab" aria-selected="false" tabindex="-1">
                    Appoinment
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Privacy and safety
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Email notifications
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Web notifications
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Widgets
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Your data
                </a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab" aria-selected="false" tabindex="-1">
                    Delete account
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">

                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title mb-0">@Model.patient.FIRSTNAME Referral Details</h5>
                    </div>
                    @if (Model.referral.PATHWAY?.Trim() == "Cancer")

                    {

                        <table class="table table-borderless my-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral ID</strong>
                                                <div class="text-muted">
                                                    @Model.referral.refid
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Referral Date</strong>
                                        <div class="text-muted">
                                            @if (Model.referral.RefDate != null)
                                            {
                                                @Model.referral.RefDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>UBRN</strong>
                                        <div class="text-muted">
                                            @Model.referral.UBRN
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referral Type</strong>
                                            <div class="text-muted">
                                                @Model.referral.RefType
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Pathway</strong>
                                            <div class="text-muted">
                                                @Model.referral.PATHWAY
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Sub Pathway</strong>
                                                <div class="text-muted">
                                                    Needed
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Consultant</strong>
                                        <div class="text-muted">
                                            @Model.referral.PATIENT_TYPE_CODE
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Counsellor/Nurse</strong>
                                        <div class="text-muted">
                                            @Model.referral.GC_CODE
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Admin Contact</strong>
                                            <div class="text-muted">
                                                @Model.referral.AdminContact
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referrer Code</strong>
                                            <div class="text-muted">
                                                @Model.referral.ReferrerCode
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Facility</strong>
                                                <div class="text-muted">
                                                    @Model.referral.ReferringFacilityCode
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Comment</strong>
                                        <div class="text-muted">
                                            @Model.referral.REASON_FOR_REFERRAL
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Pregnancy</strong>
                                        <div class="text-muted">
                                            @Model.referral.PREGNANCY
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Admin Contact</strong>
                                            <div class="text-muted">
                                                @Model.referral.AdminContact
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referrer Code</strong>
                                            <div class="text-muted">
                                                @Model.referral.ReferrerCode
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Indication</strong>
                                                <div class="text-muted">
                                                    @Model.referral.INDICATION
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Class</strong>
                                        <div class="text-muted">
                                            @Model.referral.RefClass
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Clock Start</strong>
                                        <div class="text-muted">
                                            @Model.referral.ClockStartDate
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Clock Stop</strong>
                                            <div class="text-muted">
                                                @Model.referral.ClockStopDate
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Clock Age</strong>
                                            <div class="text-muted">
                                                Calculate from Controller
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Status</strong>
                                                <div class="text-muted">
                                                    @Model.referral.COMPLETE

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Admin Status</strong>
                                        <div class="text-muted">
                                            @Model.referral.Status_Admin

                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Information Gathering</strong>
                                        <div class="text-muted">
                                            Needed
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Breach Reason</strong>
                                            <div class="text-muted">
                                                Needed
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referred using FHF?</strong>
                                                <div class="text-muted">
                                                    @if (@Model.referral.RefFHF == 0)
                                                    {
                                                        <p>No</p>
                                                    }
                                                    else if (@Model.referral.RefFHF == 1)
                                                    {
                                                        <p>1</p>
                                                    }
                                                    else
                                                    {
                                                        <p>Don't know/not recorded</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Reason Code</strong>
                                                <div class="text-muted">
                                                    <ul class="list-unstyled">
                                                        <li>@Model.referral.RefReasonCode</li>
                                                        <li>@Model.referral.OthReason1</li>
                                                        <li>@Model.referral.OthReason2</li>
                                                        <li>@Model.referral.OthReason3</li>
                                                        <li>@Model.referral.OthReason4</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Afected</strong>
                                                <div class="text-muted">
                                                    <ul class="list-inline">
                                                        <li>
                                                            @if (@Model.referral.OthReason1Aff == 0)
                                                            {
                                                                <p>No</p>
                                                            }
                                                            else if (@Model.referral.OthReason1Aff == 1)
                                                            {
                                                                <p>Yes</p>
                                                            }
                                                        </li>
                                                        <li>
                                                            @if (@Model.referral.OthReason2Aff == 0)
                                                            {
                                                                <p>No</p>
                                                            }
                                                            else if (@Model.referral.OthReason2Aff == 1)
                                                            {
                                                                <p>Yes</p>
                                                            }
                                                        </li>
                                                        <li>
                                                            @if (@Model.referral.OthReason3Aff == 0)
                                                            {
                                                                <p>No</p>
                                                            }
                                                            else if (@Model.referral.OthReason3Aff == 1)
                                                            {
                                                                <p>Yes</p>
                                                            }
                                                        </li>
                                                        <li>
                                                            @if (@Model.referral.OthReason4Aff == 0)
                                                            {
                                                                <p>No</p>
                                                            }
                                                            else if (@Model.referral.OthReason4Aff == 1)
                                                            {
                                                                <p>Yes</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Symptomatic at referral?</strong>
                                        <div class="text-muted">
                                            @if (Model.referral.RefSympt == 0)
                                            {
                                                <p>Definitely No</p>
                                            }
                                            else if (Model.referral.RefSympt == 1)
                                            {
                                                <p>Definitely Yes</p>
                                            }
                                            else if (Model.referral.RefSympt == 2)
                                            {
                                                <p>Don't know/unclear</p>
                                            } 
                                        </div>

                                    </td>
                                   
                                </tr>

                            </tbody>
                        </table>

                    }
                    else if (Model.referral.PATHWAY?.Trim() == "General")
                    {
                        <table class="table table-borderless my-0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral ID</strong>
                                                <div class="text-muted">
                                                    @Model.referral.refid
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Referral Date</strong>
                                        <div class="text-muted">
                                            @if (Model.referral.RefDate != null)
                                            {
                                                @Model.referral.RefDate.Value.ToString("dd/MM/yyyy")
                                            }
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>UBRN</strong>
                                        <div class="text-muted">
                                            @Model.referral.UBRN
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referral Type</strong>
                                            <div class="text-muted">
                                                @Model.referral.RefType
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Pathway</strong>
                                            <div class="text-muted">
                                                @Model.referral.PATHWAY
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Sub Pathway</strong>
                                                <div class="text-muted">
                                                    Needed
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Consultant</strong>
                                        <div class="text-muted">
                                            @Model.referral.PATIENT_TYPE_CODE
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Counsellor/Nurse</strong>
                                        <div class="text-muted">
                                            @Model.referral.GC_CODE
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Admin Contact</strong>
                                            <div class="text-muted">
                                                @Model.referral.AdminContact
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referrer Code</strong>
                                            <div class="text-muted">
                                                @Model.referral.ReferrerCode
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Facility</strong>
                                                <div class="text-muted">
                                                    @Model.referral.ReferringFacilityCode
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Comment</strong>
                                        <div class="text-muted">
                                            @Model.referral.REASON_FOR_REFERRAL
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Pregnancy</strong>
                                        <div class="text-muted">
                                            @Model.referral.PREGNANCY
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Admin Contact</strong>
                                            <div class="text-muted">
                                                @Model.referral.AdminContact
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Referrer Code</strong>
                                            <div class="text-muted">
                                                @Model.referral.ReferrerCode
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Indication</strong>
                                                <div class="text-muted">
                                                    @Model.referral.INDICATION
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Class</strong>
                                        <div class="text-muted">
                                            @Model.referral.RefClass
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Clock Start</strong>
                                        <div class="text-muted">
                                            @Model.referral.ClockStartDate
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Clock Stop</strong>
                                            <div class="text-muted">
                                                @Model.referral.ClockStopDate
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Clock Age</strong>
                                            <div class="text-muted">
                                                Calculate from Controller
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 ms-3">
                                                <strong>Referral Status</strong>
                                                <div class="text-muted">
                                                    @Model.referral.COMPLETE

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="flex-grow-1 ms-3">
                                        <strong>Admin Status</strong>
                                        <div class="text-muted">
                                            @Model.referral.Status_Admin

                                        </div>
                                    </td>
                                    
                                    <td>
                                        <div class="flex-grow-1 ms-3">
                                            <strong>Breach Reason</strong>
                                            <div class="text-muted">
                                                Needed
                                            </div>
                                        </div>
                                    </td>
                               
                                </tr>
                                <tr>
                                    
                                    

                                </tr>

                            </tbody>
                        </table>
                    }
                </div>

            </div>
            <div class="tab-pane fade" id="password" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Password</h5>

                        <form>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordCurrent">Current password</label>
                                <input type="password" class="form-control" id="inputPasswordCurrent">
                                <small><a href="#">Forgot your password?</a></small>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordNew">New password</label>
                                <input type="password" class="form-control" id="inputPasswordNew">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="inputPasswordNew2">Verify password</label>
                                <input type="password" class="form-control" id="inputPasswordNew2">
                            </div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>