@model AdminX.ViewModels.ReferralVM
@{
    ViewData["Title"] = "Admin-X - Update Referral";
}

@{
    ViewBag.HomeButton = new[]
    {            
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnPatientDetails" }),
        Html.ActionLink("Referral Details", "ReferralDetails", "Referral", new { refID = @Model.referral.refid }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnEDMS", target="_blank" }),
    };
}


<div class="row">
    <div class="col-md-3 col-xl-2">

        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Referral</h5>
            </div>

            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#referral" role="tab" aria-selected="true">
                    Edit Referral Details
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-9 col-xl-10">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="referral" role="tabpanel">

                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title mb-0">@Model.patient.FIRSTNAME @Model.patient.LASTNAME - Referral Details</h5>
                    </div>
                    @if (Model.referral.PATHWAY?.Trim() == "Cancer")

                    {
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="refid">Referral ID</label>
                                        <input type="text" class="form-control" value="@Model.referral.refid" id="refid" name="refid" readonly>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="rdate">Referral Date</label>
                                        @if (Model.referral.RefDate != null)
                                        {
                                            <input type="text" value="@Model.referral.RefDate.Value.ToString("dd/MM/yyyy")" name="RefDate" class="form-control" id="rdate">

                                        }
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="ubrn">UBRN</label>
                                        <input type="text" class="form-control" value="@Model.referral.UBRN" id="ubrn" name="UBRN">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="type">Type</label>
                                        <select id="type" name="RefType" class="form-select">
                                            <option value="@Model.referral.RefType" selected>@Model.referral.RefType</option>
                                            @foreach (var item in Model.activities)
                                            {
                                                <option value="@item.APP_TYPE">@item.APP_TYPE</option>

                                            }

                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="pathway">Pathway</label>
                                        @*<input type="text" name="PATHWAY" value="@Model.referral.PATHWAY" id="pathway" class="form-control" readonly>*@
                                        <select id="ddlPathway" name="PATHWAY" class="form-select" asp-for=@Model.referral.PATHWAY>
                                            @foreach (var item in Model.pathways)
                                            {
                                                <option value=@item>@item</option>
                                            }
                                        </select>

                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="spathway">Sub Pathway</label>
                                        <select id="spathway" name="Pathway_Subset" class="form-select" asp-for=@Model.referral.Pathway_Subset>
                                            <option selected></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="consultant">Consultant</label>
                                        <select asp-for=@Model.referral.PATIENT_TYPE_CODE id="consultant" name="PATIENT_TYPE_CODE" class="form-select">
                                            <option value="" selected></option>
                                            @foreach (var item in Model.consultants)
                                            {
                                                <option value="@item.STAFF_CODE">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="nurse">Counsellor/Nurse </label>
                                        <select asp-for=@Model.referral.GC_CODE id="nurse" id="nurse" name="GC_CODE" class="form-select">
                                            <option value="" selected></option>
                                            @foreach (var item in Model.gcs)
                                            {
                                                <option value="@item.STAFF_CODE">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="admin">Admin Contact</label>
                                        <select asp-for=@Model.referral.AdminContactCode id="admin" name="AdminContact" class="form-select">
                                            <option selected="">@Model.referral.AdminContact</option>
                                            @foreach (var item in Model.admin)
                                            {
                                                <option value=@item.STAFF_CODE>@item.NAME</option>
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="referrerCodeC">Referrer Code</label>
                                        <button type="button" class="btn btn-outline-primary" onclick="SetToGP('cancer')">Use GP</button>
                                        <select id="referrerCodeC" name="ReferrerCode" class="form-select js-choice">
                                            <option selected="">@Model.referral.ReferrerCode</option>
                                            <option value=@Model.patient.GP_Code>Use GP - @Model.patient.GP</option>
                                            @foreach (var item in Model.referrers)
                                            {
                                                <option value=@item.MasterClinicianCode>@item.MasterClinicianCode - @item.TITLE @item.FIRST_NAME @item.LAST_NAME</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="facilityFullDetailsC">Facility Details</label>
                                        <input type="text" class="form-control" id="facilityFullDetailsC" readonly>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" name="REASON_FOR_REFERRAL" rows="2" placeholder="Textarea" spellcheck="true">@Model.referral.REASON_FOR_REFERRAL</textarea>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="inputEmail4">Pregnancy</label>
                                        <select id="inputState" name="PREGNANCY" class="form-select">
                                            <option selected="">@Model.referral.PREGNANCY</option>
                                            <option value="No Pregnancy">No Pregnancy</option>
                                            <option value="Pregnant">Pregnant</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="indication">Indication</label>
                                        <select class="form-control" name="indication" asp-for=@Model.referral.INDICATION>
                                            @foreach (var item in Model.indicationList)
                                            {
                                                <option value=@item.DISEASE_CODE>@item.DISEASE_CODE - @item.DESCRIPTION</option>
                                            }           
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="rclass">Class</label>
                                        <select id="rclass" name="RefClass" class="form-select">
                                            @*<option selected="">@Model.referral.RefClass</option>*@
                                            <option value="Urgent">Urgent</option>
                                            <option value="Fast Track">Fast Track</option>
                                            <option value="Routine">Routine</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="clockstart">Clock Start</label>
                                        <input type="date" name="ClockStartDate" asp-for=@Model.referral.ClockStartDate class="form-control" id="ClockStartDateC" onchange="CalculateClockAge()">
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="inputState">Clock Stop</label>
                                        <input type="date" name="ClockStopDate" asp-for=@Model.referral.ClockStopDate class="form-control" id="ClockStopDateC" onchange="CalculateClockAge()">
                                    </div>
                                    
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="clockageC">Clock Age</label>
                                        <input type="text" class="form-control" id="clockageC" value="" readonly>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label" for="ref_status">Referral Status</label>
                                        <select id="ref_status" class="form-control" name="COMPLETE">
                                            <option selected>@Model.referral.COMPLETE</option>
                                            <option value="Active">Active </option>
                                            <option value="Complete">Complete</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label" for="admin_status">Admin Status</label>
                                        <select id="admin_status" name="Status_Admin" class="form-control">
                                            <option value="" selected>@Model.referral.Status_Admin</option>
                                            @foreach (var item in Model.admin_status)
                                            {
                                                <option value="@item.Status_Admin">@item.Status_Admin</option>
                                            }

                                        </select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-3">
                                        <label class="form-label" for="ref_code">Referral Reason Code</label>
                                        <select id="ref_code" class="form-control" name="RefReasonCode" asp-for=@Model.referral.RefReasonCode>
                                            <option value="">Select</option>
                                            @foreach (var item in Model.referralReasonsList)
                                            {
                                                <option value=@item.RefReasonCode>@item.RefReasonCode - @item.RefReason</option>
                                            }
                                        </select>

                                        <select name="OthReason1" class="form-control" asp-for=@Model.referral.OthReason1>
                                            <option value="">Select</option>
                                            @foreach (var item in Model.referralReasonsList)
                                            {
                                                <option value=@item.RefReasonCode>@item.RefReasonCode - @item.RefReason</option>
                                            }
                                        </select>
                                        <select name="OthReason2" class="form-control" asp-for=@Model.referral.OthReason2>
                                            <option value="">Select</option>
                                           @foreach (var item in Model.referralReasonsList)
                                            {
                                                <option value=@item.RefReasonCode>@item.RefReasonCode - @item.RefReason</option>
                                            }
                                        </select>
                                        <select name="OthReason3" class="form-control" asp-for=@Model.referral.OthReason3>
                                            <option value="">Select</option>
                                            @foreach (var item in Model.referralReasonsList)
                                            {
                                                <option value=@item.RefReasonCode>@item.RefReasonCode - @item.RefReason</option>
                                            }
                                        </select>
                                        <select name="OthReason4" class="form-control" asp-for=@Model.referral.OthReason4>
                                            <option value="">Select</option>
                                            @foreach (var item in Model.referralReasonsList)
                                            {
                                                <option value=@item.RefReasonCode>@item.RefReasonCode - @item.RefReason</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label" for="inputZip">Affected?</label><br />
                                        <select class="form-select" name="refReasonAff" asp-for=@Model.referral.RefReasonAff>
                                            <option value="0">Not affected</option>
                                            <option value="-1">affected</option>
                                            <option value="1">Unclear</option>
                                        </select>
                                        <select class="form-select" name="OthReason1Aff" asp-for=@Model.referral.OthReason1Aff>
                                            <option value="0">Not affected</option>
                                            <option value="-1">affected</option>
                                            <option value="1">Unclear</option>
                                        </select>
                                        <select class="form-select" name="OthReason2Aff" asp-for=@Model.referral.OthReason2Aff>
                                            <option value="0">Not affected</option>
                                            <option value="-1">affected</option>
                                            <option value="1">Unclear</option>
                                        </select>
                                        <select class="form-select" name="OthReason3Aff" asp-for=@Model.referral.OthReason3Aff>
                                            <option value="0">Not affected</option>
                                            <option value="-1">affected</option>
                                            <option value="1">Unclear</option>
                                        </select>
                                        <select class="form-select" name="OthReason4Aff" asp-for=@Model.referral.OthReason4Aff>
                                            <option value="0">Not affected</option>
                                            <option value="-1">affected</option>
                                            <option value="1">Unclear</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label" for="inputZip">Referred using FHF?</label><br />
                                        <label class="form-check">
                                            @if (Model.referral.RefFHF == 1)
                                            {
                                                <input class="form-check-input" type="radio" value="1" name="RefFHF" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="1" name="RefFHF">
                                            }
                                            <span class="form-check-label">
                                                Yes
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            @if (Model.referral.RefFHF == 0)
                                            {
                                                <input class="form-check-input" type="radio" value="0" name="RefFHF" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="0" name="RefFHF">
                                            }
                                            <span class="form-check-label">
                                                No
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            @if (Model.referral.RefFHF == 2)
                                            {
                                                <input class="form-check-input" type="radio" value="2" name="RefFHF" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="2" name="RefFHF">
                                            }
                                            <span class="form-check-label">
                                                Don't know/not recorded'
                                            </span>
                                        </label>


                                    </div>
                                    <div class="mb-3 col-md-2">
                                        <label class="form-label" for="inputZip">Symptomatic at referral?</label><br />
                                        <label class="form-check">
                                            <label class="form-check">
                                            @if (Model.referral.RefSympt == 1)
                                            {
                                                <input class="form-check-input" type="radio" value="1" name="symptomatic" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="1" name="symptomatic">
                                            }
                                            <span class="form-check-label">
                                                Yes
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            <input class="form-check-input" type="checkbox" value="">
                                            @if (Model.referral.RefSympt == 0)
                                            {
                                                <input class="form-check-input" type="radio" value="0" name="symptomatic" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="0" name="symptomatic">
                                            }
                                            <span class="form-check-label">
                                                No
                                            </span>
                                        </label>
                                        <label class="form-check">
                                            @if (Model.referral.RefSympt == 2)
                                            {
                                                <input class="form-check-input" type="radio" value="2" name="symptomatic" checked>
                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="radio" value="2" name="symptomatic">
                                            }
                                            <span class="form-check-label">
                                                Don't know/Unclear'
                                            </span>
                                        </label>
                                    </div>                                    
                                </div>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <a asp-controller=Review asp-action=Create asp-route-id=@Model.referral.refid class="btn btn-outline-success float-end text-black">Schedule Review</a>
                            </form>

                        </div>
                    }
                    else
                    {
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="refid">Referral ID</label>
                                        <input type="text" class="form-control" value="@Model.referral.refid" id="refid" name="refid" readonly>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="rdate">Referral Date</label>
                                        @if (Model.referral.RefDate != null)
                                        {
                                            <input type="text" value="@Model.referral.RefDate.Value.ToString("dd/MM/yyyy")" name="RefDate" class="form-control" id="rdate">

                                        }
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="ubrn">UBRN</label>
                                        <input type="text" class="form-control" value="@Model.referral.UBRN" id="ubrn" name="UBRN">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="type">Type</label>
                                        <select id="type" name="RefType" class="form-select">
                                            <option value="@Model.referral.RefType" selected>@Model.referral.RefType</option>
                                            @foreach (var item in Model.activities)
                                            {
                                                <option value="@item.APP_TYPE">@item.APP_TYPE</option>

                                            }

                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="pathway">Pathway</label>
                                        @*<input type="text" name="PATHWAY" value="@Model.referral.PATHWAY" id="pathway" class="form-control" readonly>*@
                                        <select name="PATHWAY" class="form-select" asp-for=@Model.referral.PATHWAY>
                                            @foreach (var item in Model.pathways)
                                            {
                                                <option value=@item>@item</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="spathway">Sub Pathway</label>
                                        <select id="spathway" name="Pathway_Subset" class="form-select" asp-for=@Model.referral.Pathway_Subset>                                            
                                            <option value="" selected>Select...</option>
                                            @foreach(var item in Model.subPathways)
                                            {
                                                <option value=@item.Subset>@item.Subset</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="consultant">Consultant</label>
                                        <select asp-for=@Model.referral.PATIENT_TYPE_CODE id="consultant" name="PATIENT_TYPE_CODE" class="form-select">
                                            <option value="" selected></option>
                                            @foreach (var item in Model.consultants)
                                            {
                                                <option value="@item.STAFF_CODE">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="nurse">Counsellor/Nurse </label>
                                        <select asp-for=@Model.referral.GC_CODE id="nurse" id="nurse" name="GC_CODE" class="form-select">
                                            <option value="" selected></option>
                                            @foreach (var item in Model.gcs)
                                            {
                                                <option value="@item.STAFF_CODE">@item.NAME</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="admin">Admin Contact</label>
                                        <select asp-for=@Model.referral.AdminContactCode id="admin" name="AdminContact" class="form-select">
                                            <option selected="">@Model.referral.AdminContact</option>
                                            @foreach (var item in Model.admin)
                                            {
                                                <option value=@item.STAFF_CODE>@item.NAME</option>
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="referrerCodeG">Referrer Code</label>
                                        <button class="btn btn-outline-primary" type="button" onclick="SetToGP('general')">Use GP</button>
                                        <select id="referrerCodeG" name="ReferrerCode" class="form-select js-choice">
                                            <option selected="">@Model.referral.ReferrerCode</option>
                                            <option value=@Model.patient.GP_Code>Use GP - @Model.patient.GP</option>
                                            @foreach (var item in Model.referrers)
                                            {
                                                <option value=@item.MasterClinicianCode>@item.MasterClinicianCode - @item.TITLE @item.FIRST_NAME @item.LAST_NAME</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="facilityFullDetailsG">Facility Details</label>
                                        <input type="text" class="form-control" id="facilityFullDetailsG" readonly>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="comment">Comment</label>
                                        <textarea class="form-control" id="comment" name="REASON_FOR_REFERRAL" rows="2" placeholder="Textarea" spellcheck="true">@Model.referral.REASON_FOR_REFERRAL</textarea>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="inputEmail4">Pregnancy</label>
                                        <select id="inputState" name="PREGNANCY" class="form-select">
                                            <option selected="">@Model.referral.PREGNANCY</option>
                                            <option value="No Pregnancy">No Pregnancy</option>
                                            <option value="Pregnant">Pregnant</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="indication">Indication</label>
                                        <select class="form-control" name="indication" asp-for=@Model.referral.INDICATION>
                                            @foreach (var item in Model.indicationList)
                                            {
                                                <option value=@item.DISEASE_CODE>@item.DISEASE_CODE - @item.DESCRIPTION</option>
                                            }           
                                        </select>

                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="rclass">Class</label>
                                        <select id="rclass" name="RefClass" class="form-select" asp-for=@Model.referral.RefClass>                                            
                                            <option value="Urgent">Urgent</option>
                                            <option value="Fast Track">Fast Track</option>
                                            <option value="Routine">Routine</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="clockstart">Clock Start</label>
                                        <input type="date" name="ClockStartDate" asp-for=@Model.referral.ClockStartDate class="form-control" id="ClockStartDateG" onchange="CalculateClockAge()">
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="inputState">Clock Stop</label>
                                        <input type="date" name="ClockStopDate" asp-for=@Model.referral.ClockStopDate class="form-control" id="ClockStopDateG" onchange="CalculateClockAge()">
                                    </div>
                                    <div class="mb-3 col-md-4">
                                        <label class="form-label" for="clockageG">Clock Age</label>
                                        <input type="text" class="form-control" id="clockageG" value="" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-3">
                                        <label class="form-label" for="ref_status">Referral Status</label>
                                        <select id="ref_status" class="form-control" name="COMPLETE">
                                            <option selected>@Model.referral.COMPLETE</option>
                                            <option value="Active">Active </option>
                                            <option value="Complete">Complete</option>
                                        </select>
                                    </div>
                                    @*
                                    <div class="mb-3 col-md-3">
                                        <label class="form-label" for="admin_status">Admin Status</label>
                                        <select id="admin_status" name="Status_Admin" class="form-control">
                                            <option value="" selected>@Model.referral.Status_Admin</option>
                                            @foreach (var item in Model.admin_status)
                                            {
                                                <option value="@item.Status_Admin">@item.Status_Admin</option>
                                            }

                                        </select>
                                    </div>*@
                                    <div class="mb-3 col-md-3">
                                        <label class="form-label" for="information">Information Gathering</label>
                                        <select id="information" class="form-select" name="Clics" asp-for=@Model.referral.Clics>
                                            <option selected></option>
                                            <option value="Clics">Clics</option>
                                        </select>
                                    </div>
                                    @*
                                    <div class="mb-3 col-md-3">
                                        <label class="form-label" for="inputZip">Breach Reason</label>
                                        <select asp-for=@Model.referral.REASON_FOR_BREACH id="inputState" name="REASON_FOR_BREACH" class="form-select">
                                            <option selected>@Model.referral.REASON_FOR_BREACH</option>
                                            <option value="Patient choice">Patient choice</option>
                                            <option value="Clinical Decision">Clinical Decision</option>
                                            <option value="Operational Issue">Operational Issue</option>
                                        </select>
                                    </div>
                                    *@
                                </div>

                                <button type="submit" class="btn btn-primary">Save changes</button>
                                <a asp-controller=Review asp-action=Create asp-route-id=@Model.referral.refid class="btn btn-outline-success float-end text-black">Schedule Review</a>

                            </form>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<script>

    var refCode;
    var facilityDetails;
   
    if("@Model.referral.PATHWAY".startsWith("General"))
    {
        refCode = document.getElementById("referrerCodeG");
        facilityDetails = document.getElementById("facilityFullDetailsG");
        
    }
    else
    {
        refCode = document.getElementById("referrerCodeC");
        facilityDetails = document.getElementById("facilityFullDetailsC");        
    }


        

    

    function updateFacility() 
    {
        if (!refCode || !facilityDetails) return;

        var facilityCodeArray = [];
        var facilityNameArray = [];
        var facilityAddressArray = [];
        var facilityCityArray = [];
        var facilityStateArray = [];
        var facilityPostcodeArray = [];

        var referrerCodes = [];
        var facCodeArray = []; // Maps Referrer -> Facility Code
        var facCode;

        // Populate Data Arrays
        @foreach (var item in Model.facilities)
        {
                @:facilityCodeArray.push("@item.MasterFacilityCode");
                @:facilityNameArray.push("@item.NAME");
                @:facilityAddressArray.push("@item.ADDRESS");
                @:facilityCityArray.push("@item.CITY");
                @:facilityStateArray.push("@item.STATE");
                @:facilityPostcodeArray.push("@item.ZIP");
        }

        @foreach (var item in Model.referrers)
        {
                @:referrerCodes.push("@item.MasterClinicianCode");
                @:facCodeArray.push("@item.MasterFacilityCode");
        }

        // Handle GP Selection
        if (refCode.value == "@Model.patient?.GP_Code") {
            let fullDetails = "@Model.GPFacility.NAME" + ", " +
                "@Model.GPFacility.ADDRESS" + ", " +
                "@Model.GPFacility.CITY" + ", " +
                "@Model.GPFacility.STATE" + " " +
                "@Model.GPFacility.ZIP";

            facilityDetails.value = fullDetails;
        }
        else {
           
            for (var i in referrerCodes) {
                if (referrerCodes[i] == refCode.value) {
                    facCode = facCodeArray[i];
                    break;
                }
            }

            facilityDetails.value = ""; 
            for (var i in facilityCodeArray) {
                if (facilityCodeArray[i] == facCode) {
                    let fullDetails = facilityNameArray[i] + ", " +
                        facilityAddressArray[i] + ", " +
                        facilityCityArray[i] + ", " +
                        facilityStateArray[i] + " " +
                        facilityPostcodeArray[i];

                    facilityDetails.value = fullDetails.replace("&#x27;", "'");
                    break;
                }
            }
        }
    }

    function CalculateClockAge() 
    {
        var clockStart;
        var clockStop;
        var clockAgeTotal;

        if("@Model.referral.PATHWAY".startsWith("General"))
        {
            clockStart = Date.parse(document.getElementById("ClockStartDateG").value);
            clockStop = Date.parse(document.getElementById("ClockStopDateG").value);
            clockAgeTotal = document.getElementById("clockageG");
        }
        else
        {
            clockStart = Date.parse(document.getElementById("ClockStartDateC").value);
            clockStop = Date.parse(document.getElementById("ClockStopDateC").value);
            clockAgeTotal = document.getElementById("clockageC");
        }
        
        var clockAge;
        var today = new Date();        


        if (isNaN(clockStop)) 
        {   
            clockAge = today - clockStart;            
        }
        else 
        {   
            clockAge = clockStop - clockStart;
        }
        var clockAgeDays = ((clockAge / 1000) / 3600) / 24;
        clockAgeTotal.value = Math.floor(clockAgeDays) + " days (" + Math.ceil(clockAgeDays / 7) + " weeks)";
    }

    function SetToGP(pathway)
    {
        var _referrerList;        

        if(pathway == "cancer")
        {
            _referrerList = document.getElementById("referrerCodeC");            
        }
        else
        {
            _referrerList = document.getElementById("referrerCodeG");           
        }

        const newCode = "@Model.patient.GP_Code";               

        _referrerList.value = newCode;
                
        _referrerList.choices.setChoiceByValue(newCode);
        updateFacility();

    }
        

    refCode.addEventListener("change", updateFacility);

    updateFacility();
    CalculateClockAge();
    
</script>

@section Scripts {
    <script type="text/javascript">
        /*document.addEventListener('DOMContentLoaded', function () {
            const dateInput = document.getElementById('ClockStartDate');
            if (dateInput && dateInput.value) {
                const date = new Date(dateInput.value);
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                dateInput.value = `${day}/${month}/${year}`;
            }
        });*/
    </script>
}