@model AdminX.ViewModels.NewEpicPatientVM
@{
    ViewData["Title"] = "Admin-X New Epic Patients";
}


<div class="container">
    <div class="card">
        <h1 class="card-header">Epic patients awaiting CGU numbers</h1>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>NHS Number</th>
                    <th>Epic ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.patientList)
                {
                    <tr>
                        <td><a type="button" class="btn btn-primary" asp-controller="NewEpicPatient" asp-action="EpicPatientSearch" asp-route-id=@item.MPI>Select Patient</a></td>
                        <td>@item.Title @item.FIRSTNAME @item.LASTNAME</td>
                        @if(item.DOB != null)
                        {
                            <td>@item.DOB.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td>Not known</td>
                        }
                        <td>@item.SOCIAL_SECURITY</td>
                        <td>@item.ExternalID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>