@model AdminX.ViewModels.ClinicVM
@{
    ViewData["Title"] = "Admin-X - Appointment Details";
    ViewData["Page"] = "/ Appointment / Details";
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });

}


@if (Model.Clinic.BOOKED_DATE <= DateTime.Today)
{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Related Referral", "ReferralDetails", "Referral", new { refID = Model.linkedReferral.refid }, new { @class = "btn btn-light bg-white me-2 m-1", @id = "btnRecordOutcome" }),
        Html.ActionLink("Record Outcome", "Edit", "Clinic", new { id = Model.Clinic.RefID }, new { @class = "btn btn-light bg-white me-2 m-1", @id = "btnRecordOutcome" }),
        Html.ActionLink("Schedule Review", "Create", "Review", new { id = Model.Clinic.RefID }, new { @class = "btn btn-light bg-white me-2 m-1", @id = "btnRecordOutcome" })

    };
}
else
{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Related Referral", "ReferralDetails", "Referral", new { refID = Model.linkedReferral.refid }, new { @class = "btn btn-light bg-white me-2 m-1", @id = "btnRecordOutcome" }),
    };
}



<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="card-title text-dark">
                <h3>Appointment Details</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="row ">
                <div>
                    <dl class="row mb-5 mt-2">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Clinic.CGU_No):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Clinic.CGU_No)
                        </dd>
                        <dt class="col-sm-2">
                            Patient:
                        </dt>
                        <dd class="col-sm-10">
                            <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Model.Clinic.MPI>@Model.Clinic.FIRSTNAME @Model.Clinic.LASTNAME</a>
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Clinic.AppType):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Clinic.AppType)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Clinic.BOOKED_DATE):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Clinic.BOOKED_DATE)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Clinic.BOOKED_TIME):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Clinic.BOOKED_TIME)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Clinic.Clinic):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Clinic.Clinic)
                        </dd>
                        @if (Model.Clinic.Notes != null)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Clinic.Notes):
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Clinic.Notes)
                            </dd>
                        }
                        @if (Model.Clinic.BOOKED_DATE <= DateTime.Now)
                        {
                            @if (@Model.Clinic.Attendance != null && @Model.Clinic.Attendance != "")
                            {
                                <dt class="col-sm-2">
                                    @Model.Clinic.Attendance:
                                </dt>
                                <dd class="col-sm-10">
                                    @if (@Model.Clinic.Attendance == "Attended")
                                    {
                                        <span>Seen by @Model.Clinic.SeenByClinician on @Html.DisplayFor(model => model.Clinic.BOOKED_DATE) at @Html.DisplayFor(model => model.Clinic.ArrivalTime)</span>
                                    }
                                    else
                                    {
                                        @Model.Clinic.Attendance
                                    }
                                </dd>
                            }
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-title text-dark">
                <h3>Linked Referral Details</h3>
            </div>
        </div>

        <div class="card-body">
            <div class="row mb-5 mt-2">
                <dt class="col-sm-2">
                    Referral Type:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.RefType)
                </dd>
                <dt class="col-sm-2">
                    Referral Date:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.RefDate)
                </dd>
                <dt class="col-sm-2">
                    Pathway
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.PATHWAY)
                </dd>
                <dt class="col-sm-2">
                    Indication
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.INDICATION)
                </dd>
                <dt class="col-sm-2">
                    Referred To:
                </dt>
                <dd class="col-sm-10">
                    Lead Consultant: @Html.DisplayFor(model => model.linkedReferral.LeadClinician)
                </dd>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-10">
                    Genetic Counsellor: @Html.DisplayFor(model => model.linkedReferral.GC)
                </dd>
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-10">
                    Admin Contact: @Html.DisplayFor(model => model.linkedReferral.AdminContact)
                </dd>

                <dt class="col-sm-2">
                    Referred By:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.ReferringClinician), @if (Model.linkedReferral.ReferringFacilityCode == "GP")
                    {
                        @Html.DisplayFor(model => model.linkedReferral.ReferringFacilityCode)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.linkedReferral.ReferringFacility)
                    }
                </dd>
                <dt class="col-sm-2">
                    Indication Notes:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.linkedReferral.REASON_FOR_REFERRAL)
                </dd>

            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    //document.getElementById("btnBack").addEventListener("click", GoBack);
    window.addEventListener("load", LoadClinic);

    function GoBack() {
        window.history.back();
        //window.close();
    }

    function LoadClinic() {
        //window.alert("hello");
        //apparently the date from SQL is not a date,
        //so javascript makes it American unless I do all this!!!
        var bs = "@(Model.Clinic.BOOKED_DATE)".split("/");
        var clinicDate = new Date(bs[2].replace(" 00:00:00", "") + "-" + bs[1] + "-" + bs[0]);
        var today = new Date();
        today.setHours(0, 0, 0, 0);

        //because simply being able to compare dates without times is just too much for Javascript!!!
        if (clinicDate.getFullYear() >= today.getFullYear() && (clinicDate.getMonth() > today.getMonth() ||
            (clinicDate.getMonth() == today.getMonth() && clinicDate.getDate() > today.getDate()))) {
            //since disabled refuses to work, I have to hide it instead
            document.getElementById("btnRecordOutcome").hidden = true;
            document.getElementById("btnDiagnoses").hidden = true;
            document.getElementById("btnTests").hidden = true;
            document.getElementById("btnClinicalNotes").hidden = true;
            document.getElementById("btnDictatedLetter").hidden = true;
            document.getElementById("btnReview").hidden = true;
        }

    }



</script>
