@model AdminX.ViewModels.ClinicVM
@{
    ViewData["Title"] = "Admin-X - Clinics";
}

<div class="container card">
    
    <div class="d-grid">
        <form id="frmPastClinics">
            <div class="row g-5 mb-3">
                <h2>Outstanding Contact Outcomes</h2>
            </div>
            <div class="row g-5 mb-3">
                <div class="col-md-2" class="text-right">
                    <label>Clinician:</label>
                </div>
                <div class="col-md-4">
                    <select name=filterClinician asp-for=@Model.filterClinician>
                        <option value="" selected>Select...</option>
                        @foreach(var item in Model.staffMembers)
                        {
                            <option value=@item.EMPLOYEE_NUMBER>@item.NAME</option>
                        }
                    </select>
                </div>                
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary">Update List</button>
                </div>
            </div>
            <div class="row g-5 mb-3">                
                <div class="col-2">
                </div>
                <div class="col-8">                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Patient</th>
                                <th>Clinician</th>
                                <th>Clinic Details</th>
                                <th>Date/time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in @Model.outstandingClinicsList)
                            {
                                <tr>
                                    <td><a type="button" class="btn btn-outline-primary" asp-controller="Clinic" asp-action="ApptDetails" asp-route-id=@item.RefID>Details</a></td>
                                    <td>@item.CGU_No - @item.FIRSTNAME @item.LASTNAME</td>
                                    <td>@item.Clinician</td>
                                    <td>@item.Clinic (@item.FACILITY)</td>
                                    <td>@item.BOOKED_DATE.Value.ToString("dd/MM/yyyy") at @item.BOOKED_TIME.Value.ToString("HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>                            
            </div>
        </form>     @*well this doesn't make any sense... if I don't make the whole table part of the form, it blocks all the imputs!!!*@ 
    </div>          @*you'd think I'd know better than to expect anything to actually make sense by now, wouldn't you??*@
</div>

<script type="text/javascript">
    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("btnSelectPastClinic").addEventListener("click", OpenPastClinic);
    //document.getElementById("btnSelectFutureClinic").addEventListener("click", OpenFutureClinic);
    
    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function OpenPastClinic() 
    {
        OpenClinic(document.getElementById('ddlPastClinics'));
    }

    function OpenFutureClinic() 
    {   
        OpenClinic(document.getElementById('ddlFutureClinics'));
    }

    function OpenClinic(clinic)
    {
        if (clinic.value == "" || clinic.value == null)
        {
            alert("You must choose a clinic.");
        }
        else
        {
            let _url = ""
            _url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/Clinic/ApptDetails?id=" + clinic.value;
            location.href = _url;
            //window.open(_url);
        }
    }

    function SetShowOutstandingChecked()
    {
        document.getElementById("txtIsShowOutstanding").value = document.getElementById("chkIsShowOutstanding").checked;
    }

</script>
