@*@model IEnumerable<AdminX.Models.Clinics>*@
@model AdminX.ViewModels.ClinicVM
@{
    ViewData["Title"] = "Clinic-X - Clinics";
}

<div class="container card">
    
    <div class="d-grid">
        <form id="frmPastClinics">
            <div class="row g-5 mb-3">
                <h2>Past clinics</h2>
            </div>
            <div class="row g-5 mb-3">
                <div class="col-md-2" class="text-right">
                    <label>From date:</label>
                </div>
                <div class="col-md-4">
                    <input type="date" name="filterDate" asp-for=@Model.clinicFilterDate /> 
                </div>
                @*
                <div class="col-md-2">
                    <label>Only Show Outstanding:</label>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="chkIsShowOutstanding" class="check" asp-for=@Model.isClinicOutstanding onchange="SetShowOutstandingChecked()" />
                </div>
                <div class="col-md-1">
                    <input type="text" id="txtIsShowOutstanding" name="isShowOutstanding" asp-for=@Model.isClinicOutstanding hidden="true" />
                </div>*@
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
            <div class="row g-5 mb-3">                
                <div class="col-2">
                </div>
                <div class="col-8">
                    <select class="form-select w-100" name="ddlPastClinics" id="ddlPastClinics">
                        @foreach (var item in Model.pastClinicsList)
                        {
                            <option value="@item.RefID">@item.CGU_No - @item.FIRSTNAME @item.LASTNAME, @item.Clinic (@item.FACILITY), @item.BOOKED_DATE.Value.ToString("dd/MM/yyyy") - @item.BOOKED_TIME.Value.ToString("HH:mm") - @item.Attendance</option>
                        }
                    </select>
                </div>            
                <div class="col-2">
                    <input type="button" value="Select" id="btnSelectPastClinic" class="btn btn-default btn-success"  />
                </div>
                <div class="col-8"></div>
            </div>
        </form>    
    </div>
</div>

<script type="text/javascript">
    //document.getElementById("btnBack").addEventListener("click", GoBack);
    document.getElementById("btnSelectPastClinic").addEventListener("click", OpenPastClinic);
    //document.getElementById("btnSelectFutureClinic").addEventListener("click", OpenFutureClinic);
    
    function GoBack() 
    {
        window.history.back();
        //window.close();
    }

    function OpenPastClinic() 
    {
        OpenClinic(document.getElementById('ddlPastClinics'));
    }

    function OpenFutureClinic() 
    {   
        OpenClinic(document.getElementById('ddlFutureClinics'));
    }

    function OpenClinic(clinic)
    {
        if (clinic.value == "" || clinic.value == null)
        {
            alert("You must choose a clinic.");
        }
        else
        {
            let _url = ""
            _url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/Clinic/ApptDetails?id=" + clinic.value;
            location.href = _url;
            //window.open(_url);
        }
    }

    function SetShowOutstandingChecked()
    {
        document.getElementById("txtIsShowOutstanding").value = document.getElementById("chkIsShowOutstanding").checked;
    }

</script>
