@model AdminX.ViewModels.RelativeVM
@{
    ViewData["Title"] = "Clinic-X - Relative Details";
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Back to Relative", "RelativeDetails", "Relative", new { relID = Model.relativeDetails.relsid }, new { @class = "btn btn-light bg-white me-2 m-1" }),
    };
}




<div class="card">
    <div class="card-header">
        <h4 class="card-title text-dark">Relative Details for @Model.relativeDetails.RelForename1 @Model.relativeDetails.RelSurname</h4>
    </div>
    <div class="card-body">

        <form id="frmEdit" asp-action="Edit">
            <div class="row" id="MetaData">
                <input asp-for=@Model.relativeDetails.relsid name="id" hidden />
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">Fullname</label>
                <div class="col-sm-1">
                    <input type="text" class="form-control" id="title" asp-for=@Model.relativeDetails.RelTitle name="title">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" asp-for=@Model.relativeDetails.RelForename1 name="forename1">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" asp-for=@Model.relativeDetails.RelForename2 name="forename2">
                </div>
                <div class="col-sm-2">
                    <input type="text" class="form-control" asp-for=@Model.relativeDetails.RelSurname name="surname">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end"> Previous Name <br /> (if known)</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" asp-for=@Model.relativeDetails.RelSurnameBirth name="prevSurname">
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">  Relation to Proband</label>
                <div class="col-sm-7">
                    <select class="form-select" asp-for=@Model.relativeDetails.RelCode name="relation">
                        <option value="">Select...</option>
                        @foreach (var r in Model.relationList)
                        {
                            <option value=@r.RelCode>@r.relation</option>
                        }
                    </select>
                </div>
            </div>         
            
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">DOB</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" asp-for=@Model.relativeDetails.DOB name="dob">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">DOD (if deceased)</label>
                <div class="col-sm-7">
                    <input type="date" class="form-control" asp-for=@Model.relativeDetails.DOD name="dod">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">Sex</label>
                <div class="col-sm-7">
                    <select class="form-select" asp-for=@Model.relativeDetails.RelSex name="sex">
                        <option value="">Select...</option>
                        @foreach (var r in Model.genderList)
                        {
                            <option value=@r.SexCode>@r.Sex</option>
                        }
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-form-label col-sm-1 text-sm-end">Affected</label>
                <div class="col-sm-7">
                    <select class="form-select" asp-for=@Model.relativeDetails.RelAffected name="isAffected">
                        <option value="@Model.relativeDetails.RelAffected" selected>@Model.relativeDetails.RelAffected</option>
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                        <option value=2>Don't know</option>
                    </select>
                </div>
            </div>
            
         
          
            <div class="mb-3 row">
                <div class="col-sm-1 text-sm-end">
                    <button type="submit" class="btn btn-primary" value="Save" id="btnSave">Submit</button>
                </div>
                <div class="col-sm-1 text-sm-end">
                    <button type="submit" class="btn btn-outline-primary" value="Back" id="btnBack">Cancel</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">

    document.getElementById("btnSave").addEventListener("click", EditRelative);
    document.getElementById("btnBack").addEventListener("click", GoBack);

    function GoBack()
    {
        window.history.back();
        //window.close();
    }

    function EditRelative()
    {

        if (CheckFormValid() == 1)
        {
            document.getElementById("frmEdit").submit();
        }
    }

    function CheckFormValid()
    { //validation to ensure all required data is entered


        //if (document.getElementById("txtComments").value.match(/};.*/)) {
        //    window.alert("Oi! Stop trying to inject SQL code into my form!");
        //    return 0;
        //}
        return 1;
    }

</script>