@model AdminX.ViewModels.RelativeDiagnosisVM
@{
    ViewData["Title"] = "Admin-X - Relative Details";
    ViewData["Page"] = "/ Relative / Details";
    ViewData["HomeBtn"] = Html.ActionLink("Back to Home Page", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-primary m-1" }),
        Html.ActionLink("View Relative's Diary", "Index", "RelativeDiary", new { relID = Model.relativeDetails.relsid }, new { @class = "btn btn-primary m-1" }),
        Html.ActionLink("Record Diagnoses", "Index", "RelativeDiagnosis", new { relID = Model.relativeDetails.relsid }, new { @class = "btn btn-primary m-1" })
    };
}

<div class="container">   

    <div class="row mb-5">
        <hr />
    </div>

    <div class="row mb-5 g-5">
        <h1>Relative Details for @Html.DisplayFor(model => model.relativeDetails.RelForename1) @Html.DisplayFor(model => model.relativeDetails.RelSurname)</h1>
    </div>

    <div class="row mb-5 g-5">
        <dl class="row">        
            <dt class="col-sm-2">
                Full Name:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.relativeDetails.RelTitle) @Html.DisplayFor(model => model.relativeDetails.RelForename1) @Html.DisplayFor(model => model.relativeDetails.RelForename2) @Html.DisplayFor(model => model.relativeDetails.RelSurname)
            </dd>
            <dt class="col-sm-2">
                Relation to Proband:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.relativeDetails.Relation)
            </dd>
            <dt class="col-sm-2">
                DOB:
            </dt>
            <dd class="col-sm-4">
                @if (Model.relativeDetails.DOB != null)
                {
                    @Html.DisplayFor(model => model.relativeDetails.DOB)
                }
                else
                {
                    <span>Not known</span>
                }
            </dd>       
            @if (Model.relativeDetails.RelAlive == "No")
            {
                <dt class="col-sm-2">DOD:</dt>
                <dd class="col-sm-4">
                    @if (Model.relativeDetails.DOD != null)
                    {
                        @Html.DisplayFor(model => model.relativeDetails.DOD)
                    }
                    else
                    {
                        <span>Not known</span>
                    }
                </dd>
            }
            else
            {
                <dt class="col-sm-6"></dt>
            }
            <dt class="col-sm-2">
                Sex:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.relativeDetails.Sex)
            </dd>
            <dt class="col-sm-2">
                Affected
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.relativeDetails.RelAffected)
            </dd>
        </dl>
    </div>

    <div class="row mb-5 g-5">
        <div class="col-md-2">
            <a type="button" class="btn btn-default btn-primary" asp-action="Edit Details" asp-route-id="@Model.relativeDetails.relsid">Edit</a>
        </div>
    </div>
</div>

<script>
    document.getElementById("btnBack").addEventListener("click", GoBack);

    function GoBack() 
    {
        window.history.back();        
    }

</script>