@model AdminX.ViewModels.RelativeVM
@{
    ViewData["Title"] = "Admin-X - Relative Details";
    ViewData["Page"] = "/ Relative / Details";
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("View Relative's Diary", "Index", "RelativeDiary", new { relID = Model.relativeDetails.relsid }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Record Diagnoses", "Index", "RelativeDiagnosis", new { relID = Model.relativeDetails.relsid }, new { @class = "btn btn-light bg-white me-2 m-1" })
    };
}






<div class="card">
    <div class="card-header">
        <h5 class="card-title text-dark">
            Relative Details for @Html.DisplayFor(model => model.relativeDetails.RelForename1) @Html.DisplayFor(model => model.relativeDetails.RelSurname)
        </h5>
    </div>
    <div class="card-body">
        <ul class="timeline mt-2 mb-0">
            <li class="timeline-item">
                <strong>FullName:</strong>
                <p>
                    @Html.DisplayFor(model => model.relativeDetails.RelTitle) @Html.DisplayFor(model => model.relativeDetails.RelForename1) @Html.DisplayFor(model => model.relativeDetails.RelForename2) @Html.DisplayFor(model => model.relativeDetails.RelSurname)
                    @if (Model.relativeDetails.RelSurnameBirth != null)
                    {
                        <span>(was </span> 
                        @Model.relativeDetails.RelSurnameBirth
                    
                        <span>)</span>
                    }
                </p>
            </li>
            <li class="timeline-item">
                <strong> Relation to Proband</strong>
                <p>
                    @Html.DisplayFor(model => model.relativeDetails.Relation)
                </p>
            </li>
            <li class="timeline-item">
                <strong>DOB</strong>
                <p>
                    @if (Model.relativeDetails.DOB != null)
                    {
                        @Html.DisplayFor(model => model.relativeDetails.DOB)
                    }
                    else
                    {
                        <span>Not known</span>
                    }
                </p>
            </li>
            <li class="timeline-item">
                @if (Model.relativeDetails.RelAlive == "No")
                {
                    <strong>Signed in</strong>
            <p>
                @if (Model.relativeDetails.DOD != null && Model.relativeDetails.DOD != DateTime.Parse("1900-01-01"))
                {
                    @Html.DisplayFor(model => model.relativeDetails.DOD)
                }
                else
                {
                    <span>Not known</span>
                }
            </p>
        }
        else
        {
          <p></p>
        }
                
            </li>
            <li class="timeline-item">
                <strong>Sex</strong>
                <p>
                    @Html.DisplayFor(model => model.relativeDetails.Sex)
                </p>
            </li>
            <li class="timeline-item">
                <strong>Affected</strong>
                <p>
                    @Html.DisplayFor(model => model.relativeDetails.RelAffected)
                </p>
            </li>
        </ul>
        <a type="button" class="btn btn-default btn-primary" asp-controller="Relative" asp-action="Edit" asp-route-id="@Model.relativeDetails.relsid">Edit</a>
        <a type="button" class="btn btn-default btn-outline-primary ms-7" asp-controller="LetterMenu" asp-action="Index" asp-route-id="@Model.relativeDetails.relsid" asp-route-isRelative="true">Send Letter</a>

    </div>
</div>


<script>
    document.getElementById("btnBack").addEventListener("click", GoBack);

    function GoBack() 
    {
        window.history.back();        
    }

</script>