@model AdminX.ViewModels.ReviewVM
@{
    ViewData["Title"] = "Admin-X - Review";
    ViewData["Page"] = "/ Review / Create";
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Patient Details", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnEditPatient" }),
        Html.ActionLink("Review List", "ReviewsForPatient", "Review", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1", id = "btnEditPatient" }),
    };
}


<div class="card">
    <div class="card-body">
        <form action="@Url.Action("AddReview", "Review")" method="get">
            <input name="mpi" asp-for=@Model.patient.MPI hidden />
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Linked Activities</label>
                <div class="col-sm-8">
                    <select class="form-select js-choice" name="refID">
                        @foreach (var item in Model.activityList)
                        {
                            <option value="@item.RefID">@item.TYPE - @item.REFERRAL_DATE.Value.ToString("dd/MM/yyyy") - @item.RefID</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="submit" id="btnChooseActivity" class="btn btn-default btn-primary">Continue</button>
                </div>
            </div>

        </form>


    </div>
</div>


@if (Model.activity != null)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Schedule Patient Review</h5>
        </div>
        <div class="card-body">
            <form method="post">                
                <div class="row">
                    <input type="hidden" value=@Model.patient.MPI name="MPI">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="linkedAppt">Linked Appointment</label>
                        <input type="text" class="form-control" id="linkedApptInput" name="Parent_RefID" value="@Model.activity.RefID" readonly>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="reftype">Activity Type</label>
                        <input type="text" class="form-control" id="reftype" value="@Model.activity.TYPE" readonly>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="pathway">Pathway</label>
                        <input type="text" class="form-control" id="pathway" name="pathway" value="@Model.activity.PATHWAY" readonly>
                    </div>
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-3">
                        <label class="form-label" for="inputEmail4">Owner</label>
                        <input type="text" class="form-control" name="Owner" id="inputEmail4" value="@Model.staffMember.STAFF_CODE" readonly>
                    </div>
                    <div class="mb-3 col-md-3">
                        <label class="form-label" for="linnkedAppt">Review By</label>
                        @*<input type="text" class="form-control" name="Review_Recipient" id="linnkedAppt" value="@Model.staffMember.STAFF_CODE" readonly>*@
                        <select class="form-control" name="Review_Recipient" asp-for="@Model.staffMember.STAFF_CODE">
                            @foreach(var item in Model.staffMembers)
                            {
                                <option value=@item.STAFF_CODE>@item.NAME</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3 col-md-3">
                        <label class="form-label" for="reftype">Category</label>
                        <select class="form-select" name="category" id="">
                            <option value="Standard">Standard</option>
                            <option value="Non-Standard">Non-Standard</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-3">
                        <label class="form-label" for="pathway">Planned Date</label>
                        <input type="date" class="form-control" id="pathway" name="Planned_Date" required/>
                    </div>
                </div>
                
                
                
                <div class="mb-3">
                    <label class="form-label" for="inputAddress2">Comment</label>
                    <textarea class="form-control" name="Comments" id="" cols="30" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                
                @if (ViewBag.IsUnder15 != null && ViewBag.IsUnder15)
                {
                    <button type="button" class="btn btn-outline-dark float-end" id="scheduleReviewBtn">Schedule Review when patient is 15</button>
                }               
                
            </form>
        
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('select[name="refID"]').change(function () {
                var selectedRefID = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetLinkedAppointment", "Review")',
                    type: 'GET',
                    data: { refID: selectedRefID },
                    success: function (data) {
                        $('#linkedApptInput').val(data.linkedAppointment);
                        $('#reftype').val(data.referral);
                        $('#pathway').val(data.pathway);
                    },
                    error: function () {
                        alert('Error retrieving linked appointment details.');
                    }
                });
            });
        });
    </script>
}