@model AdminX.ViewModels.ReviewVM
@{
    ViewData["Title"] = "Admin-X - Review Details";    
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Patient Review List", "ReviewsForPatient", "Review", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),        
    };
}

<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h5 class="card-title mb-0">Information</h5>
        </div>
        <div class="card-body">
            <table class="table table-borderless my-0">

                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>Patient Name</strong>
                                    <div class="text-muted">
                                        @Model.patient.FIRSTNAME @Model.patient.LASTNAME
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>CGU No</strong>
                                    <div class="text-muted">
                                        @Model.patient.CGU_No
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>MPI</strong>
                                    <div class="text-muted">
                                        @Model.patient.MPI
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>Date of Birth</strong>
                                    <div class="text-muted">
                                         @if (@Model.patient.DOB != null)
                                         {
                                             @Model.patient.DOB.Value.ToString("dd/MM/yyyy")
                                         }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>Sex</strong>
                                    <div class="text-muted">
                                        @Model.patient.SEX
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>NHS No</strong>
                                    <div class="text-muted">
                                        @Model.patient.SOCIAL_SECURITY
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="flex-grow-1 ms-3">
                                    <strong>Postcode</strong>
                                    <div class="text-muted">
                                        @Model.patient.POSTCODE
                                    </div>
                                </div>
                            </div>
                        </td>
                       
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Schedule Review for <a asp-controller="Patient" asp-action="PatientDetails" asp-route-id=@Html.ValueFor(model => model.patient.MPI)>@Html.DisplayFor(model => model.patient.FIRSTNAME) @Html.DisplayFor(model => model.patient.LASTNAME)</a></h5>
    </div>
    <div class="card-body">
        <form method="post"  id="ReviewForm">
            
            <div class="row">
                <input value="@Model.review.ReviewID" name="id" hidden>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="linnkedAppt">Linked Appointment</label>
                    <input type="text" class="form-control" id="linkedApptInput" name="Parent_RefID" value="@Model.review.Parent_RefID" readonly>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="reftype">Referral</label>
                    @if (Model.activityDetail.TYPE != null)
                    {
                        <input type="text" class="form-control" id="reftype" value="@Model.activityDetail.TYPE" readonly>
                    } else
                    {
                        <input type="text" class="form-control" id="reftype" value="" readonly>
                    }

                </div>
                
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="pathway">Pathway</label>
                    <input type="text" class="form-control" id="pathway" name="pathway" value="@Model.activityDetail.PATHWAY" readonly>
                </div>
                
            </div>
            
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="reftype">Review Status</label>
                    <select class="form-select" name="Review_Status" id="">
                        <option value="@Model.review.Review_Status" selected>@Model.review.Review_Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="inputEmail4">Owner</label>
                    <input type="text" class="form-control" name="Owner" id="inputEmail4" value="@Model.staffMember.NAME" readonly>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="linnkedAppt">Review By</label>
                    <select class="form-select" id="linnkedAppt" name="Review_Recipient">
                        <option value="@Model.staffMember.STAFF_CODE" selected>@Model.staffMember.NAME</option>
                        @foreach (var item in Model.staffMembers)
                        {
                            <option value=@item.STAFF_CODE>@item.NAME</option>
                        }
                    </select>
                </div>
              
            </div>
            
            <div class="row">
                
                  <div class="mb-3 col-md-4">
                    <label class="form-label" for="reftype">Category</label>
                    <select class="form-select" name="category" id="">
                        <option value="@Model.review.Category" selected>@Model.review.Category</option>
                        <option value="Standard">Standard</option>
                        <option value="Non-Standard">Non-Standard</option>
                    </select>
                </div>
                
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="pathway">Planned Date</label>
                    @if (Model.review.Planned_Date != null)
                    {
                        <input type="date" class="form-control" asp-for=@Model.review.Planned_Date id="Planned_Date" name="Planned_Date" />
                    }
                    else
                    {
                        <input type="date" class="form-control" id="Planned_Date" name="Planned_Date" />
                    }
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label" for="[Review_Recipient]">Recipient</label>
                    <input type="text" class="form-control" name="Review_Recipient" id="[Review_Recipient]" value="@Html.DisplayFor(model => model.review.Recipient)" readonly>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="inputAddress2">Comment</label>
                <textarea class="form-control" name="Comments" id="" cols="30" rows="5">@Model.review.Comments</textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

            @if (ViewBag.IsUnder15 != null && ViewBag.IsUnder15)
            {
                <button type="button" class="btn btn-outline-dark float-end" id="scheduleReviewBtn">Schedule Review when patient is 15</button>
            }

        </form>
    </div>
</div>



<script>

    document.getElementById("btnSave").addEventListener("click", DoSubmit);
    document.getElementById("ddlComplete").addEventListener("change", CompleteReview);

    function DoSubmit()
    {
        if (CheckFormValid() == 1) 
        {
            document.getElementById("ReviewForm").submit();
        }
    }

    function CompleteReview()
    {        
        if (document.getElementById("ddlComplete").value == "Complete") 
        {
                
            if (document.getElementById("txtDateComplete").value == "") 
            {                
                var today = new Date();                                
                //document.getElementById("txtDateComplete").value = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + ("0" + today.getDate()).slice(-2);
                document.getElementById("txtDateComplete").value = today.getFullYear() + "-" + (("0" + (today.getMonth()+1))).slice(-2) + "-" + ("0" + today.getDate()).slice(-2);
                
            }
            //window.alert(document.getElementById("txtDateComplete").value);
        }    
    }

    function CheckFormValid() 
    {
        //gotta protect against those SQL injections!
        if (document.getElementById("txtComments").value.match(/};.*/)) 
        {
            window.alert("Oi! Stop trying to inject SQL code into my form!");
            return 0;
        }
        return 1;
    }

</script>

