@model AdminX.ViewModels.ReviewVM
@{
    ViewData["Title"] = "Admin-X - Reviews";    
    ViewData["Page"] = "/ Reviews / Patient Review List";
    ViewData["HomeBtn"] = Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "btn btn-primary m-1" });
}

@{
    ViewBag.HomeButton = new[]
    {
        Html.ActionLink("Back to Patient", "PatientDetails", "Patient", new { id = Model.patient.MPI }, new { @class = "btn btn-light bg-white me-2 m-1" }),
        Html.ActionLink("Full Review List", "Index", "Review", new { }, new { @class = "btn btn-light bg-white me-2 m-1" }),        
    };
}

<div class="container card">    
    <div class="row mb-5 g-2 mt-2">
        <h2>Outstanding Reviews for @Model.patient.FIRSTNAME @Model.patient.LASTNAME</h2>
    </div>

    <div class="d-grid">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>CGU No</th>
                    <th>Patient</th>
                    <th>Category</th>
                    <th>@Html.DisplayNameFor(model => model.review.Planned_Date)</th>
                    <th>Owner/Requester</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.reviewList)
                {
                    <tr>
                        <td><a asp-action="Edit" asp-route-id=@item.ReviewID class="btn btn-default btn-primary">Select</a></td>
                        <td>@item.CGU_No</td>
                        <td>@item.FIRSTNAME @item.LASTNAME</td>
                        <td>@item.Category</td>
                        @if (@item.Planned_Date != null)
                        {
                            <td>@item.Planned_Date.Value.ToString("dd/MM/yyyy")</td>
                        }
                        else
                        {
                            <td>N/A</td>
                        }
                        <td>@item.Owner</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*
    <div class="row mb-5 g-5">
    <h2>Requested Reviews</h2>
    </div>
    *@
</div>